<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('./partials/link-header') %>
    <title>Dieta hipercalorica</title>
</head>
<body>
    <%- include('./partials/nav.ejs')  %>
  

    
    <%- include('./partials/slider.ejs')  %>
      
  <main class="container">
      <div class="row mb-2 ml-auto animate__animated animate__backInLeft ">
        <div class="col-md-5 ">
          <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
            <div class="col p-4 d-flex flex-column position-static">
              <h3 class="mb-1 ">Hiperproteica</h3>
              <p class="card-text mb-auto">Son aquellas dietas que limitan el aporte de proteínas al organismo.</p>
              <a href="/dieta-hiperproteica" class="stretched-link"><i class="fas fa-arrow-circle-right"></i> Seguir leyendo</a>
            </div>
             <img class="size" src="./img/hiperproteica.jpg" alt="">
          </div>
        </div>
        <div class="col-md-5 ml-auto mr-3  ">
          <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
            <div class="col p-4 d-flex flex-column position-static">
              <h3 class="mb-1 ">Dieta dash</h3>
              <p class="mb-auto"> La dieta se creó originalmente para ayudar a reducir la presión arterial alta.</p>
              <a href="/dieta-dash" class="stretched-link"><i class="fas fa-arrow-circle-right"></i> Seguir leyendo</a>
            </div>
              <img class="size" src="./img/DIETA PARA HIPERTENSOS.JPG" alt="">
          </div>
        </div>
      </div>
    
         
        
    
      <div class="row g-5">
        <div class="col-md-8">
          <h3 class="pb-4 mb-4 fst-italic border-bottom">
            <i class="fas fa-info-circle"></i> Informacion
          </h3>
          <article class="blog-post">
            <h2 class="blog-post-title"><i class="far fa-file-alt"></i> Dieta Parenteral</h2>
            <p>Es un método de alimentación que rodea el tracto gastrointestinal. Se suministra a través de una vena, una fórmula especial que proporciona la mayoría de los nutrientes que el cuerpo necesita. Este método se utiliza cuando una persona no puede o no debe recibir alimentación por la boca. </p>
            <p>Usted necesitará aprender a suministrar la alimentación parenteral total en casa. También necesitará saber cómo cuidar de la sonda y la por donde la sonda entra al cuerpo.</p>
            <hr>
            <div class="card mt-3">
              <h5 class="card-header"><i class="fas fa-angle-right"></i> Lo que se espera en el hogar</h5>
              
              <div class="card-body">
                <p>Su médico seleccionará la cantidad adecuada de calorías y de solución de NPT. Algunas veces, usted también puede comer y beber mientras recibe la nutrición parenteral total.

                    El personal de enfermería le enseñará cómo:
                    
                    Cuidar el catéter y la piel
                    Operar la bomba
                    Lavar la sonda
                    Administrar el alimento y los medicamentos a través de la sonda
                    Es muy importante lavarse bien las manos y manipular los suministros de acuerdo con las indicaciones de la enfermera para prevenir infección.
                    
                    También deberá realizarse exámenes de sangre frecuentemente para verificar que la nutrición parenteral total le esté proporcionando la nutrición adecuada</p>
              </div>
            </div>
                <hr>
                <div class="card mt-3">
                  <h5 class="card-header"><i class="fas fa-angle-right"></i> Prevención infecciones </h5>
                  <div class="card-body">
                      <p>Mantener las manos y las superficies libres de gérmenes y de bacterias previene infecciones. Antes de empezar la nutrición parenteral total, asegúrese de que las mesas y superficies en las que colocará los suministros hayan sido lavadas y estén secas. O, cubra la superficie con una toalla limpia. Usted necesitará esta superficie limpia para todos los suministros.</p>
                      <p>Lávese las manos muy bien con un jabón antibacteriano antes de la infusión de la nutrición parenteral total. Abra la llave del agua, humedezca las manos y muñecas y enjabónese por todas partes con una buena cantidad de jabón durante al menos 15 segundos. Luego, enjuague las manos con las puntas de los dedos apuntando hacia abajo antes de secarse con una toalla de papel limpia.</p>
                  </div>
                </div>
                </div>
           
        
       

        <div class="col-md-4 ">
          <div class="position-sticky" style="top: 2rem;">
            <div class="p-4 mb-3 bg-light rounded animate__animated animate__rubberBand">
              <h4 class="fst-italic "><i class="fas fa-book-open"></i> RECOMENDACION</h4>
              <p class="mb-0">Siga cualquier instrucción específica que el personal de enfermería le dé</p>
            </div>
    
            <div class="p-4">
              <h4 class="fst-italic">DIETAS</h4>
              <ol class="list-unstyled mb-0">
                <li><a href="/dieta-hipercalorica"><i class="fas fa-arrow-right"></i> dieta hipercalorica</a></li>
                <li><a href="/dieta-hipocalorica"><i class="fas fa-arrow-right"></i> Dieta hipocalorica</a></li>
                <li><a href="/dieta-liquida"><i class="fas fa-arrow-right"></i> Dieta liquida</a></li>
                <li><a href="/dieta-blanda"><i class="fas fa-arrow-right"></i> Dieta blanda</a></li>
                <li><a href="/dieta-enteral"><i class="fas fa-arrow-right"></i> Dieta Enteral</a></li>
              </ol>
            </div>
    
            <div class="row mb-1 ml-1 ">
              <div class="col-md-12 ">
                <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                  <div class="col p-4 d-flex flex-column position-static">
                    <h3 class="mb-1">Enteral</h3>
                    <p class="card-text mb-auto">La nutrición enteral es una medida de soporte nutricional </p>
                    <a href="#" class="stretched-link"><i class="fas fa-arrow-circle-right"></i> Seguir leyendo</a>
                  </div>
                   <img class="size" src="./img/DIETA ENTERAL.jpg" alt="">
                </div>
              </div>
          </div>
          <div class="row mb-1 ml-1 ">
            <div class="col-md-12 ">
              <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                <div class="col p-4 d-flex flex-column position-static">
                  <h3 class="mb-1">Hipocalorica</h3>
                  <p class="card-text mb-auto">se caracteriza por ser una dieta baja en calorías. </p>
                  <a href="/dieta-hipocalorica" class="stretched-link"><i class="fas fa-arrow-circle-right"></i> Seguir leyendo</a>
                </div>
                 <img class="size" src="./img/hipocalorica.jpg" alt="">
              </div>
            </div>
        </div>
        </div>
      </div>
    </main>
    
    
    


    <%- include('./partials/footer')%>
</body>
</html>