<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('./partials/link-header') %>
    <title>Dieta hipercalorica</title>
</head>
<body>
    <%- include('./partials/nav.ejs')  %>
  

    
    <%- include('./partials/slider.ejs')  %>
      
  <main class="container">
      <div class="row mb-2 ml-auto animate__animated animate__backInLeft ">
        <div class="col-md-5 ">
          <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
            <div class="col p-4 d-flex flex-column position-static">
              <h3 class="mb-1 ">Hiperproteica</h3>
              <p class="card-text mb-auto">Son aquellas dietas que limitan el aporte de proteínas al organismo.</p>
              <a href="/dieta-hiperproteica" class="stretched-link"><i class="fas fa-arrow-circle-right"></i> Seguir leyendo</a>
            </div>
             <img class="size" src="./img/hiperproteica.jpg" alt="">
          </div>
        </div>
        <div class="col-md-5 ml-auto mr-3  ">
          <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
            <div class="col p-4 d-flex flex-column position-static">
              <h3 class="mb-1 ">Dieta dash</h3>
              <p class="mb-auto"> La dieta se creó originalmente para ayudar a reducir la presión arterial alta.</p>
              <a href="/dieta-dash" class="stretched-link"><i class="fas fa-arrow-circle-right"></i> Seguir leyendo</a>
            </div>
              <img class="size" src="./img/DIETA PARA HIPERTENSOS.JPG" alt="">
          </div>
        </div>
      </div>
    
         
        
    
      <div class="row g-5">
        <div class="col-md-8">
          <h3 class="pb-4 mb-4 fst-italic border-bottom">
            <i class="fas fa-info-circle"></i> Informacion
          </h3>
          <article class="blog-post">
            <h2 class="blog-post-title"><i class="far fa-file-alt"></i> Dieta Enteral</h2>
            <p>La nutrición enteral supone una medida terapéutica que cada vez adquiere una mayor importancia tanto en el medio hospitalario como en el extrahospitalario. En la actualidad, nadie pone en duda la importancia de alimentar a los enfermos y el beneficio que comporta en su recuperación funcional. </p>
            <p>Esta técnica adquiere una gran importancia cuando un enfermo tiene incapacidad para la ingestión de alimentos pero mantiene un buen funcionamiento intestinal, con ello se evita el autocatabolismo proteico, el sobrecrecimiento bacteriano, la traslocación bacteriana, la pérdida de defensas inmunológicas del sistema digestivo y la atrofia del enterocito. Pretendemos poner al día las distintas modalidades, formas, complicaciones y beneficios de la nutrición enteral, ya que actualmente es aceptado que el enfermo que come evoluciona mejor y tiene una menor morbimortalidad.</p>
            <hr>
            <div class="card mt-3">
              <h5 class="card-header"><i class="fas fa-angle-right"></i>Indicaciones de la nutrición enteral</h5>
              
              <div class="card-body">
                <p>Se consideran indicaciones de la nutrición enteral todos aquellos casos en que exista desnutrición o cuando la ingestión no se vaya a poder restablecer en por lo menos 7 días, a condición principal de que el intestino sea capaz de tolerar este tipo de alimentación.</p>
                  <ul>
                    <p>Resumiendo a grandes rasgos, podríamos establecer las indicaciones de la nutrición enteral en los siguientes grupos:</p>
                    <li>Pacientes con aparato digestivo anatómica y funcionalmente útil:</li>
                    <p> Oral: como soporte o complemento en pacientes con dificultad para la ingestión: edad avanzada, anorexia, neoplasias, sida, mala oclusión dental, estenosis esofágica, y pacientes con aumentos de los requerimientos nutricionales: sepsis, politraumatizados, quemados, prevención del fracaso multiórgano en UCI, insuficiencia renal.

                        ­ Por sonda como nutrición completa en casos de cirugía maxilar, de esófago y de laringe, enfermedades neurológicas (comas, demencias, síndrome de Guillain-Barré, esclerosis lateral amiotrófica, miastenia gravis, tumores, traumatismo craneoencefálico).</p>
                    <li>Paciente con aparato digestivo anatómicamente restringido.</li>
                    <p>Por sonda nasogástrica: neoplasias de esófago, síndrome de intestino corto.

                        ­ Por catéter: estenosis completa de algún tramo, dificultad para la colocación de sonda, mantenimiento prolongado, postoperatorio, cirugía digestiva alta.</p>
                    <li>Paciente con aparato digestivo funcionalmente dificultado; en este grupo la nutrición será mixta: insuficiencia hepática grave, pancreatitis aguda, síndrome de malabsorción, fístula neoplásica del tracto inferior y sida.</li>
                  </ul> 
              </div>
            </div>
                <hr>
                <div class="card mt-3">
                  <h5 class="card-header"><i class="fas fa-angle-right"></i> Vías de administración de la nutrición enteral </h5>
                  <div class="card-body">
                      <h3>Vía oral</h3>
                      <p>El soporte nutricional administrado por la boca requiere de la colaboración del paciente, en situación estable con reflejos de deglución conservados. Hay que utilizar preparados que tengan olor y sabor adecuados. En estos casos se puede utilizar como nutrición completa o como suplemento.</p>
                      <h3>Por sonda</h3>
                      <p>La alimentación por sonda nasoentérica no necesita la colaboración del paciente, y la introducción de nutrientes es independiente de la capacidad o incapacidad del paciente para comer, la dificultad para la deglución o su negativa.

                        La situación del extremo distal de la sonda marca los tipos de nutrición: nasogástrica, nasoduodenal y nasoyeyunal.
                        
                        La técnica más común para la administración de nutrición enteral en los pacientes que son incapaces de ingerir suficiente cantidad de nutrientes, pero que poseen capacidad funcional intestinal, es la sonda nasogástrica.</p>
                  </div>
                </div>
                </div>
           
        
       

        <div class="col-md-4 ">
          <div class="position-sticky" style="top: 2rem;">
            <div class="p-4 mb-3 bg-light rounded animate__animated animate__rubberBand">
              <h4 class="fst-italic "><i class="fas fa-book-open"></i> RECOMENDACION</h4>
              <p class="mb-0">la nutrición enteral únicamente es determinada por la presencia de obstrucción intestinal, perforación gastroduodenal, hemorragia digestiva aguda y lesiones abdominales que obliguen a la cirugía de urgencia.</p>
            </div>
    
            <div class="p-4">
              <h4 class="fst-italic">DIETAS</h4>
              <ol class="list-unstyled mb-0">
                <li><a href="/dieta-hipercalorica"><i class="fas fa-arrow-right"></i> Hipercalorica</a></li>
                <li><a href="/dieta-liquida"><i class="fas fa-arrow-right"></i> Dieta liquida</a></li>
                <li><a href="/dieta-blanda"><i class="fas fa-arrow-right"></i> Dieta blanda</a></li>
                <li><a href="/dieta-parenteral"><i class="fas fa-arrow-right"></i> Dieta parenteral</a></li>
              </ol>
            </div>
    
            <div class="row mb-1 ml-1 ">
              <div class="col-md-12 ">
                <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                  <div class="col p-4 d-flex flex-column position-static">
                    <h3 class="mb-1">Enteral</h3>
                    <p class="card-text mb-auto">La nutrición enteral es una medida de soporte nutricional </p>
                    <a href="/dieta-enteral" class="stretched-link"><i class="fas fa-arrow-circle-right"></i> Seguir leyendo</a>
                  </div>
                   <img class="size" src="./img/DIETA ENTERAL.jpg" alt="">
                </div>
              </div>
          </div>
          <div class="row mb-1 ml-1 ">
            <div class="col-md-12 ">
              <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                <div class="col p-4 d-flex flex-column position-static">
                  <h3 class="mb-1">Hipocalorica</h3>
                  <p class="card-text mb-auto">se caracteriza por ser una dieta baja en calorías. </p>
                  <a href="/dieta-hipocalorica" class="stretched-link"><i class="fas fa-arrow-circle-right"></i> Seguir leyendo</a>
                </div>
                 <img class="size" src="./img/hipocalorica.jpg" alt="">
              </div>
            </div>
        </div>
        </div>
      </div>
    </main>
    
    
    


    <%- include('./partials/footer')%>
</body>
</html>