<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('./partials/link-header') %>
    <title>Dieta hipercalorica</title>
</head>
<body>
    <%- include('./partials/nav.ejs')  %>
  

    
    <%- include('./partials/slider.ejs')  %>
      
  <main class="container">
      <div class="row mb-2 ml-auto animate__animated animate__backInLeft ">
        <div class="col-md-5 ">
          <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
            <div class="col p-4 d-flex flex-column position-static">
              <h3 class="mb-1 ">Hiperproteica</h3>
              <p class="card-text mb-auto">Son aquellas dietas que limitan el aporte de proteínas al organismo.</p>
              <a href="#" class="stretched-link"><i class="fas fa-arrow-circle-right"></i> Seguir leyendo</a>
            </div>
             <img class="size" src="./img/hiperproteica.jpg" alt="">
          </div>
        </div>
        <div class="col-md-5 ml-auto mr-3  ">
          <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
            <div class="col p-4 d-flex flex-column position-static">
              <h3 class="mb-1 ">Dieta dash</h3>
              <p class="mb-auto"> La dieta se creó originalmente para ayudar a reducir la presión arterial alta.</p>
              <a href="#" class="stretched-link"><i class="fas fa-arrow-circle-right"></i> Seguir leyendo</a>
            </div>
              <img class="size" src="./img/DIETA PARA HIPERTENSOS.JPG" alt="">
          </div>
        </div>
      </div>
    
         
        
    
      <div class="row g-5">
        <div class="col-md-8">
          <h3 class="pb-4 mb-4 fst-italic border-bottom">
            <i class="fas fa-info-circle"></i> Informacion
          </h3>
          <article class="blog-post">
            <h2 class="blog-post-title"><i class="far fa-file-alt"></i> Dieta liquida</h2>
            <p>Una dieta líquida completa se compone de líquidos y alimentos que son normalmente líquidos y alimentos que se vuelven líquidos cuando están a temperatura ambiente, como el helado. También incluye:</p>
            <hr>
            <div class="card mt-3">
              <h5 class="card-header"><i class="fas fa-angle-right"></i> Alimentos permitidos en la dieta hipoprotéica</h5>
              <div class="card-body">
                  <ul>
                    <li>Sopas cremosas y coladas</li>
                    <li>Té</li>
                    <li>Jugo</li>
                    <li>Gelatina</li>
                    <li>Malteadas</li>
                    <li>Pudín</li>
                    <li>Paletas de helado</li>
                  </ul> 
              </div>
            </div>
            <div class="card mt-3">
                <h5 class="card-header"><i class="fas fa-angle-right"></i> Por qué puede necesitar esta dieta</h5>
                <div class="card-body">
                      <p><i class="fas fa-long-arrow-alt-right"></i>  Usted puede necesitar hacer una dieta líquida completa antes de un examen o procedimiento médico, o antes de ciertos tipos de cirugía. Es importante seguir la dieta rigurosamente para evitar problemas con el procedimiento o la cirugía o con los resultados del examen.</p>
                     <p>También es posible que necesite seguir una dieta líquida completa por un tiempo después de haberse sometido a una cirugía en el estómago o el intestino. Igualmente, puede ser que necesite hacer esta dieta si está teniendo problemas para tragar o masticar. Si se le receta esta dieta debido a disfagia (problemas para tragar), su patólogo del habla le dará más instrucciones específicas. En ocasiones la dieta líquida completa es un paso entre una dieta de líquidos claros y volver a su dieta regular.</p>
                </div>
              </div>
              <div class="card mt-3">
                <h5 class="card-header"><i class="fas fa-angle-right"></i> Lo que puede comer y beber</h5>
                <div class="card-body">
                    <p><i class="fas fa-long-arrow-alt-right"></i>  Usted puede comer o beber solo líquidos. Puede ingerir estos alimentos y bebidas:</p>
                    <ul>
                      <li>Agua</li>
                      <li>Jugos de fruta, incluso néctares y jugos con pulpa</li>
                      <li>Mantequilla, margarina, aceite, crema, flan y pudín</li>
                      <li>Helado común, yogur helado y sorbete</li>
                      <li>Helados de fruta y paletas de helado</li>
                      <li>Azúcar, miel y jarabes</li>
                      <li>Caldo de sopa (caldo, consomé y sopas cremosas coladas, pero sin sólidos)</li>
                      <li>Refrescos, como la gaseosa de jengibre (ginger ale) y Sprite</li>
                      <li>Gelatina (Jell-O)</li>
                      <li>Boost, Ensure, Resource y otros suplementos líquidos</li>
                      <li>Té o café con crema o leche y azúcar o miel</li>
                    </ul> 
                </div>
              </div>
        </div>
        
       

        <div class="col-md-4 ">
          <div class="position-sticky" style="top: 2rem;">
            <div class="p-4 mb-3 bg-light rounded animate__animated animate__rubberBand">
              <h4 class="fst-italic "><i class="fas fa-book-open"></i> RECOMENDACION</h4>
              <p class="mb-0">Usted no puede comer alimentos sólidos cuando esté haciendo una dieta líquida completa.</p>
            </div>
    
            <div class="p-4">
              <h4 class="fst-italic">DIETAS</h4>
              <ol class="list-unstyled mb-0">
                <li><a href="/dieta-hipercalorica"><i class="fas fa-arrow-right"></i> Hipercalorica</a></li>
                <li><a href="#"><i class="fas fa-arrow-right"></i> Dieta blanda</a></li>
                <li><a href="#"><i class="fas fa-arrow-right"></i> Dieta astringente</a></li>
                <li><a href="#"><i class="fas fa-arrow-right"></i> Dieta enteral</a></li>
                <li><a href="#"><i class="fas fa-arrow-right"></i> Dieta parenteral</a></li>
                <li><a href="#"><i class="fas fa-arrow-right"></i> Dieta sin lactosa</a></li>
                <li><a href="#"><i class="fas fa-arrow-right"></i> Dieta para la gastritis</a></li>
              </ol>
            </div>
    
            <div class="row mb-1 ml-1 ">
              <div class="col-md-12 ">
                <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                  <div class="col p-4 d-flex flex-column position-static">
                    <h3 class="mb-1">Enteral</h3>
                    <p class="card-text mb-auto">La nutrición enteral es una medida de soporte nutricional </p>
                    <a href="#" class="stretched-link"><i class="fas fa-arrow-circle-right"></i> Seguir leyendo</a>
                  </div>
                   <img class="size" src="./img/DIETA ENTERAL.jpg" alt="">
                </div>
              </div>
          </div>
          <div class="row mb-1 ml-1 ">
            <div class="col-md-12 ">
              <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                <div class="col p-4 d-flex flex-column position-static">
                  <h3 class="mb-1">Hipocalorica</h3>
                  <p class="card-text mb-auto">se caracteriza por ser una dieta baja en calorías. </p>
                  <a href="/dieta-hipocalorica" class="stretched-link"><i class="fas fa-arrow-circle-right"></i> Seguir leyendo</a>
                </div>
                 <img class="size" src="./img/hipocalorica.jpg" alt="">
              </div>
            </div>
        </div>
        </div>
      </div>
      <div class="row mb-2 ml-auto mt-5 ">
        <div class="col-md-5 ">
          <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
            <div class="col p-4 d-flex flex-column position-static">
              <h3 class="mb-1">Gastritis</h3>
              <p class="card-text mb-auto">En pacientes con gastritis se recomienda seguir ciertas pautas dietéticas.</p>
              <a href="#" class="stretched-link"><i class="fas fa-arrow-circle-right"></i> Seguir leyendo</a>
            </div>
             <img class="size" src="./img/DIETA PARA GASTRITIS.PNG" alt="">
          </div>
        </div>
        <div class="col-md-5 ml-auto mr-3  ">
          <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
            <div class="col p-4 d-flex flex-column position-static">
              <h3 class="mb-1">Hipotiroidismo</h3>
              <p class="mb-auto">El hipotiroidismo aparece cuando la producción de las hormonas </p>
              <a href="#" class="stretched-link"><i class="fas fa-arrow-circle-right"></i> Seguir leyendo</a>
            </div>
              <img class="size" src="./img/DIETA PARA HIPOTIROIDISMO.jpg" alt="">
          </div>
        </div>
      </div>
    </main>
    
    
    


    <%- include('./partials/footer')%>
</body>
</html>