<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('./partials/link-header') %>
    <title>Dieta hipercalorica</title>
</head>
<body>
    <%- include('./partials/nav.ejs')  %>
  

    <%- include('./partials/slider.ejs')  %>
  
      
  <main class="container">
      <div class="row mb-2 ml-auto animate__animated animate__backInLeft ">
        <div class="col-md-5 ">
            <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
              <div class="col p-4 d-flex flex-column position-static">
                <h3 class="mb-1 ">Hiperproteica</h3>
                <p class="card-text mb-auto">Son aquellas dietas que limitan el aporte de proteínas al organismo.</p>
                <a href="/dieta-hiperproteica" class="stretched-link"><i class="fas fa-arrow-circle-right"></i> Seguir leyendo</a>
              </div>
               <img class="size" src="./img/hiperproteica.jpg" alt="">
            </div>
        </div>
        <div class="col-md-5 ml-auto mr-3 ">
          <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
            <div class="col p-4 d-flex flex-column position-static">
              <h3 class="mb-1"> Hipoproteica</h3>
              <p class="mb-auto"> Son aquellas dietas que limitan el aporte de proteínas al organismo.</p>
              <a href="/dieta-hipoproteica" class="stretched-link"><i class="fas fa-arrow-circle-right"></i> Seguir leyendo</a>
            </div>
              <img class="size" src="./img/hipoproteica.jpg" alt="">
          </div>
        </div>
      </div>
    
         
        
    
      <div class="row g-5">
        <div class="col-md-8">
          <h3 class="pb-4 mb-4 fst-italic border-bottom">
            Informacion
          </h3>
          <article class="blog-post">
            <h2 class="blog-post-title"><i class="far fa-file-alt"></i> Dieta hipocalorica</h2>
            <p> La dieta hipocalórica se caracteriza por ser una dieta o régimen dietético bajo en calorías. Es decir, consiste en aplicar una restricción calórica diaria o reducir la ingesta de alimento que aportan calorías. Incluye los requerimientos nutricionales indispensables para el buen funcionamiento del organismo pero en su justa medida, adaptados a su edad, peso, altura, estilo de vida e historial médico.</p>
            <h2 class="blog-post-title"> ¿Por qué se realiza?</h2>
            <hr>
            <p>Es la dieta más adecuada para combatir el sobrepeso y la obesidad y, por lo tanto, es una dieta para adelgazar que resulta también necesaria en el control de algunas enfermedades como la diabetes, el colesterol o la hipertensión arterial.</p>
            <h2 class="blog-post-title">¿En qué consiste?</h2>
            <p>La dieta hipocalórica controla y elimina de la dieta aquellos alimentos que engordan y no aportan interés nutricional (como los azúcares y las grasas), diseñando un plan alimenticio en la proporción y cantidad adecuadas al perfil del paciente. En esta dieta, normalmente se realizan cinco ingestas diarias pero con cantidades inferiores a las acostumbradas. Por otro lado, se evitan ciertas maneras de cocinar (especialmente los fritos, a favor del hervido o la plancha), se favorece el consumo de dos litros de agua diarios como mínimo, y se promueve el ejercicio físico.</p>
            <h3> Claves para llevar a cabo la dieta hiperproteica</h3>
            <div class="card mt-3">
              <h5 class="card-header"><i class="fas fa-angle-right"></i> Alimentos permitidos</h5>
              <div class="card-body">
                <p class="card-text"><i class="fas fa-long-arrow-alt-right"></i> Los alimentos permitidos en esta dieta son los alimentos con baja densidad energetica como los son frutas, verduras algunas carnes etc..
                </p>
              </div>
            </div>
            <div class="card mt-3">
              <h5 class="card-header"><i class="fas fa-angle-right"></i> Alimentos que deben ser evitados</h5>
              <div class="card-body">
                <p class="card-text"> <i class="fas fa-long-arrow-alt-right"></i> caulquier alimento con una alta dencidad energetica ya sean azucares, dulces, cereales en gran cantidad etc...</p>
              </div>
            </div>
        </div>
    
        <div class="col-md-4">
          <div class="position-sticky" style="top: 2rem;">
            <div class="p-4 mb-3 bg-light rounded animate__animated animate__rubberBand">
              <h4 class="fst-italic"><i class="fas fa-book-open"></i> RECOMENDACION</h4>
              <p class="mb-0">Después de terminar una dieta hipocalórica es importante no volver a los malos hábitos alimentarios</p>
            </div>
            <div class="p-4">
              <h4 class="fst-italic">DIETAS</h4>
              <ol class="list-unstyled mb-0">
                <li><a href="/dieta-dash"><i class="fas fa-arrow-right"></i> Dieta dash</a></li>
                <li><a href="/dieta-diabeticos"><i class="fas fa-arrow-right"></i> Dieta diabetes</a></li>
                <li><a href="/insuficiencia-renal"><i class="fas fa-arrow-right"></i> Dieta insuficiencia renal</a></li>
                <li><a href="/dieta-astringente"><i class="fas fa-arrow-right"></i> Dieta astringente</a></li>
                <li><a href="/dieta-enteral"><i class="fas fa-arrow-right"></i> Dieta enteral</a></li>
                <li><a href="/dieta-parenteral"><i class="fas fa-arrow-right"></i> Dieta parenteral</a></li>
              </ol>
            </div>
    
            <div class="row mb-1 ml-1 ">
              <div class="col-md-12 ">
                <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                  <div class="col p-4 d-flex flex-column position-static">
                    <h3 class="mb-1">Hipercalorica</h3>
                    <p class="card-text mb-auto">Este tipo de dieta se le recomienda aplicar a los pacientes  </p>
                    <a href="/dieta-hipercalorica" class="stretched-link"><i class="fas fa-arrow-circle-right"></i> Seguir leyendo</a>
                  </div>
                   <img class="size" src="./img/hipercalorica.jpg" alt="">
                </div>
              </div>
          </div>
          <div class="row mb-1 ml-1 ">
            <div class="col-md-12 ">
              <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                <div class="col p-4 d-flex flex-column position-static">
                  <h3 class="mb-1">Dieta blanda</h3>
                  <p class="card-text mb-auto">La dieta blanda incluye alimentos que son suaves </p>
                  <a href="/dieta-blanda" class="stretched-link"><i class="fas fa-arrow-circle-right"></i> Seguir leyendo</a>
                </div>
                 <img class="size" src="./img/DIETA BLANDA.jpg" alt="">
              </div>
            </div>
        </div>
        </div>
      </div>
      <div class="row mb-2 ml-auto mt-5 ">
        <div class="col-md-5 ">
          <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
            <div class="col p-4 d-flex flex-column position-static">
              <h3 class="mb-1">Dieta liquida</h3>
              <p class="card-text mb-auto">Una dieta líquida completa se compone de líquidos Y alimentos liquidos </p>
              <a href="/dieta-liquida" class="stretched-link"><i class="fas fa-arrow-circle-right"></i> Seguir leyendo</a>
            </div>
             <img class="size" src="./img/DIETA LIQUIDA.JPG" alt="">
          </div>
        </div>
        <div class="col-md-5 ml-auto mr-3  ">
          <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
            <div class="col p-4 d-flex flex-column position-static">
              <h3 class="mb-1 ">Dieta dash</h3>
              <p class="mb-auto"> La dieta se creó originalmente para ayudar a reducir la presión arterial alta.</p>
              <a href="/dieta-dash" class="stretched-link"><i class="fas fa-arrow-circle-right"></i> Seguir leyendo</a>
            </div>
              <img class="size" src="./img/DIETA PARA HIPERTENSOS.JPG" alt="">
          </div>
        </div>
      </div>
    </main>
    
    
    


    <%- include('./partials/footer')%>
</body>
</html>