<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('./partials/link-header') %>
    <title>Dieta hipercalorica</title>
</head>
<body>
    <%- include('./partials/nav.ejs')  %>
  

    <%- include('./partials/slider.ejs')  %>
  
      
  <main class="container">
      <div class="row mb-2 ml-auto animate__animated animate__backInLeft ">
        <div class="col-md-5 ">
          <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
            <div class="col p-4 d-flex flex-column position-static">
              <h3 class="mb-1">Hipocalorica</h3>
              <p class="card-text mb-auto">se caracteriza por ser una dieta baja en calorías que se caracteriza por </p>
              <a href="" class="stretched-link"><i class="fas fa-arrow-circle-right"></i> Seguir leyendo</a>
            </div>
             <img class="size" src="./img/hipocalorica.jpg" alt="">
          </div>
        </div>
        <div class="col-md-5 ml-auto mr-3 ">
          <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
            <div class="col p-4 d-flex flex-column position-static">
              <h3 class="mb-1"> Hipoproteica</h3>
              <p class="mb-auto"> Son aquellas dietas que limitan el aporte de proteínas al organismo.</p>
              <a href="#" class="stretched-link"><i class="fas fa-arrow-circle-right"></i> Seguir leyendo</a>
            </div>
              <img class="size" src="./img/hipoproteica.jpg" alt="">
          </div>
        </div>
      </div>
    
         
        
    
      <div class="row g-5">
        <div class="col-md-8">
          <h3 class="pb-4 mb-4 fst-italic border-bottom">
            Informacion
          </h3>
    
          <article class="blog-post">
            <h2 class="blog-post-title"><i class="far fa-file-alt"></i> Dieta hiperproteica</h2>
    
            <p> La dieta proteica, también llamada hiperproteica o dieta de las proteínas, se basa en un aumento del consumo de alimentos ricos en proteínas como las carnes y los huevos, disminuyendo el consumo de alimentos ricos en carbohidratos como el pan y la pasta. Ingerir más proteínas ayuda a disminuir el hambre y aumentar la sensación de saciedad, esto ocurre debido a que actúa sobre los niveles de grelina y otras hormonas que se encargan de regular el apetito.</p>
            <hr>
            <p>Asimismo, las proteínas podrían incrementar el metabolismo ayudando a quemar más calorías y, la ausencia de carbohidratos en la alimentación, haría con que el organismo utilice sus fuentes de grasa para producir energía.</p>
            <p>Es normal que al iniciar esta dieta el individuo sienta un poco de debilidad y mareos durante los primeros días, pero estos síntomas suelen pasar al cabo de 3 o 4 días, tiempo en el que el organismo se acostumbra a la falta de carbohidratos. Una forma más gradual de retirar los carbohidratos de la dieta y no sufrir es realizando una dieta baja en carbohidratos</p>
            <h3> Claves para llevar a cabo la dieta hiperproteica</h3>
            <div class="card mt-3">
              <h5 class="card-header"><i class="fas fa-angle-right"></i> Alimentos permitidos</h5>
              <div class="card-body">
                <p class="card-text"><i class="fas fa-long-arrow-alt-right"></i> Los alimentos permitidos en esta dieta son los alimentos ricos en proteínas y que posean bajo contenido de carbohidratos, como por ejemplo:
                </p>
                 <ul>
                   <li>Carnes bajas en grasa, pescados, huevos, jamón, jamón de pavo;</li>
                   <li>Leche desnatada, quesos blancos o bajos en grasas, yogur desnatado;</li>
                   <li>Leche de almendras o de cualquier nuez;</li>
                   <li>Acelga, coles, espinaca, lechuga, rúcula, berro, achicoria, zanahoria, repollo, tomate, pepino, rábano, berenjena, chayota, repollo, col de bruselas, brócolis, coliflor, alcachofa, cebolla, ajo, pimentón, espárragos;</li>
                   <li>Aceite de oliva o de linaza, aceitunas;</li>
                   <li>Cacahuate o maní, nueces, almendras, marañón o merey, avellana, nuez de brasil;</li>
                   <li>Semillas como chía, linaza, ajonjolí, calabaza y girasol;</li>
                   <li>Aguacate y limón.</li>
                 </ul>
                 
              
               
              </div>
            </div>
            <div class="card mt-3">
              <h5 class="card-header"><i class="fas fa-angle-right"></i> Alimentos que deben ser evitados</h5>
              <div class="card-body">
                <p class="card-text"> <i class="fas fa-long-arrow-alt-right"></i> Los alimentos prohibidos durante la dieta de la proteína son fuentes de carbohidratos como los cereales y tubérculos como el pan, pasta, arroz, harina, papa, batata, yuca; granos como los frijoles, garbanzo, maíz, guisantes, soya; azúcares y alimentos que lo contengan como las galletas, dulces, tortas, refrescos, miel, jugos pasteurizados y; las frutas y el agua de coco.</p>
                <p>Es importante no consumir estos alimentos durante la dieta de la proteína para evitar cambios en el metabolismo que hagan que el cuerpo deje de utilizar las grasas y las proteínas como fuente de energía.</p>
              </div>
            </div>
            <div class="card mt-3">
              <h5 class="card-header"><i class="fas fa-angle-right"></i> Qué saber antes de comenzar la dieta hiperproteica</h5>
              <div class="card-body">
                <p class="card-text"> <i class="fas fa-long-arrow-alt-right"></i> Antes de iniciar cualquier dieta es importante la orientación de un médico o un nutricionista para no perjudicar la salud. El nutricionista puede indicar otro menú más personalizado, tomando en cuenta los gustos personales y las posibles restricciones alimentarias.</p>
                <p>Esta dieta no debe ser realizada por personas que posean problemas renales, ya que la elevada ingesta de proteínas podría perjudicar la enfermedad renal. La dieta sólo debe ser realizada durante máximo 1 mes, a partir de allí es posible mantener una dieta baja en carbohidratos para mantener el peso y evitar el déficit o el exceso de ciertos nutrientes en el organismo.</p>
              </div>
            </div>
           
           







            
            
         
         
    
          
    
        </div>
    
        <div class="col-md-4">
          <div class="position-sticky" style="top: 2rem;">
            <div class="p-4 mb-3 bg-light rounded animate__animated animate__rubberBand">
              <h4 class="fst-italic"><i class="fas fa-book-open"></i> RECOMENDACION</h4>
              <p class="mb-0">La dieta de la proteína puede ser realizada durante 15 días con 3 días de intervalo, pudiendo ser repetida en un máximo de 15 días.</p>
            </div>
    
            <div class="p-4">
              <h4 class="fst-italic">DIETAS</h4>
              <ol class="list-unstyled mb-0">
                <li><a href="#"><i class="fas fa-arrow-right"></i> Dieta dash</a></li>
                <li><a href="#"><i class="fas fa-arrow-right"></i> Dieta diabetes</a></li>
                <li><a href="#"><i class="fas fa-arrow-right"></i> Dieta enfermedad de crohn</a></li>
                <li><a href="#"><i class="fas fa-arrow-right"></i> Dieta insuficiencia renal</a></li>
                <li><a href="#"><i class="fas fa-arrow-right"></i> Dieta astringente</a></li>
                <li><a href="#"><i class="fas fa-arrow-right"></i> Dieta enteral</a></li>
                <li><a href="#"><i class="fas fa-arrow-right"></i> Dieta parenteral</a></li>
                <li><a href="#"><i class="fas fa-arrow-right"></i> Dieta sin lactosa</a></li>
                <li><a href="#"><i class="fas fa-arrow-right"></i> Dieta para la gastritis</a></li>
              </ol>
            </div>
    
            <div class="row mb-1 ml-1 ">
              <div class="col-md-12 ">
                <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                  <div class="col p-4 d-flex flex-column position-static">
                    <h3 class="mb-1">Hipercalorica</h3>
                    <p class="card-text mb-auto">Este tipo de dieta se le recomienda aplicar a los pacientes  </p>
                    <a href="/dieta-hipercalorica" class="stretched-link"><i class="fas fa-arrow-circle-right"></i> Seguir leyendo</a>
                  </div>
                   <img class="size" src="./img/hipercalorica.jpg" alt="">
                </div>
              </div>
          </div>
          <div class="row mb-1 ml-1 ">
            <div class="col-md-12 ">
              <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                <div class="col p-4 d-flex flex-column position-static">
                  <h3 class="mb-1">Dieta blanda</h3>
                  <p class="card-text mb-auto">La dieta blanda incluye alimentos que son suaves </p>
                  <a href="#" class="stretched-link"><i class="fas fa-arrow-circle-right"></i> Seguir leyendo</a>
                </div>
                 <img class="size" src="./img/DIETA BLANDA.jpg" alt="">
              </div>
            </div>
        </div>
        </div>
      </div>
      <div class="row mb-2 ml-auto mt-5 ">
        <div class="col-md-5 ">
          <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
            <div class="col p-4 d-flex flex-column position-static">
              <h3 class="mb-1">Dieta liquida</h3>
              <p class="card-text mb-auto">Una dieta líquida completa se compone de líquidos Y alimentos liquidos </p>
              <a href="#" class="stretched-link"><i class="fas fa-arrow-circle-right"></i> Seguir leyendo</a>
            </div>
             <img class="size" src="./img/DIETA LIQUIDA.JPG" alt="">
          </div>
        </div>
        <div class="col-md-5 ml-auto mr-3  ">
          <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
            <div class="col p-4 d-flex flex-column position-static">
              <h3 class="mb-1">Dieta cetogenica</h3>
              <p class="mb-auto">es un plan de alimentación bajo en carbohidratos y rico en grasas</p>
              <a href="#" class="stretched-link"><i class="fas fa-arrow-circle-right"></i> Seguir leyendo</a>
            </div>
              <img class="size" src="./img/DIETA CETOGENICA.jpg" alt="">
          </div>
        </div>
      </div>
    </main>
    
    
    


    <%- include('./partials/footer')%>
</body>
</html>