<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('./partials/link-header') %>
    <title>Dieta hipercalorica</title>
</head>
<body>
    <%- include('./partials/nav.ejs')  %>
  

    
    <%- include('./partials/slider.ejs')  %>
      
  <main class="container">
      <div class="row mb-2 ml-auto animate__animated animate__backInLeft ">
        <div class="col-md-5 ">
          <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
            <div class="col p-4 d-flex flex-column position-static">
              <h3 class="mb-1 ">Hiperproteica</h3>
              <p class="card-text mb-auto">Son aquellas dietas que limitan el aporte de proteínas al organismo.</p>
              <a href="#" class="stretched-link"><i class="fas fa-arrow-circle-right"></i> Seguir leyendo</a>
            </div>
             <img class="size" src="./img/hiperproteica.jpg" alt="">
          </div>
        </div>
        <div class="col-md-5 ml-auto mr-3  ">
          <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
            <div class="col p-4 d-flex flex-column position-static">
              <h3 class="mb-1 ">Dieta dash</h3>
              <p class="mb-auto"> La dieta se creó originalmente para ayudar a reducir la presión arterial alta.</p>
              <a href="#" class="stretched-link"><i class="fas fa-arrow-circle-right"></i> Seguir leyendo</a>
            </div>
              <img class="size" src="./img/DIETA PARA HIPERTENSOS.JPG" alt="">
          </div>
        </div>
      </div>
    
         
        
    
      <div class="row g-5">
        <div class="col-md-8">
          <h3 class="pb-4 mb-4 fst-italic border-bottom">
            <i class="fas fa-info-circle"></i> Informacion
          </h3>
    
          <article class="blog-post">
            <h2 class="blog-post-title"><i class="far fa-file-alt"></i> Dieta hipercalorica </h2>
    
            <p>adaptándola a los gustos de cada persona, teniendo en cuenta el grado de apetito y no generar a través de los
              alimentos una gran sensación de saciedad para no entorpecer la ingesta deseada en su recuperación.</p>
            <hr>
            <p>Las grasas son las que brindan una mayor saciedad, no deben usarse exageradamente para aumentar las calorías. Por
              otro lado las proteínas tampoco deben usarse en demasía, puesto que el reparto de nutrientes debe ser lo más
              equilibrado posible. Los carbohidratos son una buena opción a la hora de aumentar el aporte calórico, los rápidos
              porque suelen ser dulces y apetecibles y se consideran un buen recurso en dietas hipercalóricas, y los lentos, aunque
              sacian, suelen aportar mayor valor nutritivo.</p>
            <p>Una dieta que provoque aumento de peso debe tener un aporte calórico entre 20 y 50% superior al valor calórico
              normal. Esta debe ir aumentando de manera gradual dependiendo de las necesidades de cada persona según edad, sexo,
              actividad física y patología en el caso de que existiese.</p>
            <h3> Claves para llevar a cabo la dieta hipercalorica</h3>
            <div class="card mt-3">
              <h5 class="card-header"><i class="fas fa-angle-right"></i> HIDRATOS DE CARBONO</h5>
              <div class="card-body">
                <p class="card-text"><i class="fas fa-long-arrow-alt-right"></i> Es importante aumentar la cantidad de los hidratos saludables como: pasta, arroz, pan, cereales
                  refinados. Se pueden consumir en todas las comidas al igual que las patatas.</p>
                <a href="#" class="btn btn-primary">Ver mas informacion</a>
              </div>
            </div>
            <div class="card mt-3">
              <h5 class="card-header"><i class="fas fa-angle-right"></i> PROTEINAS</h5>
              <div class="card-body">
                <p class="card-text"><i class="fas fa-long-arrow-alt-right"></i> Subir la cantidad de proteínas favorecerá la formación de musculo y te ayudará a aumentar el volumen y el peso. Consejos: evitar las carnes rojas, y opta por los pesados, legumbres y otras fuentes de proteínas. los frutos secos son perfectos para matar el gusanillo a cualquier hora.</p>
                <a href="#" class="btn btn-primary">Ver mas informacion</a>
              </div>
            </div>
            <div class="card mt-3">
              <h5 class="card-header"><i class="fas fa-angle-right"></i> GRASAS</h5>
              <div class="card-body">
                <p class="card-text"><i class="fas fa-long-arrow-alt-right"></i> Se recomienda ingerir un gramo por cada kilo de peso, aunque varía en cada persona.</p>
                <a href="#" class="btn btn-primary">Ver mas informacion</a>
              </div>
            </div>
            <div class="card mt-3">
              <h5 class="card-header"><i class="fas fa-angle-right"></i> APORTE CALORICO</h5>
              <div class="card-body">
                <p class="card-text"><i class="fas fa-long-arrow-alt-right"></i> El queso es una buena opción para este punto, aporta grasas y proteína. Los quesos duros son los mejores porque poseen muchas más calorías y contienen hasta el doble de grasa.</p>
                <a href="#" class="btn btn-primary">Ver mas informacion</a>
              </div>
            </div>
            <div class="card mt-3">
              <h5 class="card-header"><i class="fas fa-angle-right"></i> EJERCICIO</h5>
              <div class="card-body">
                <p class="card-text"><i class="fas fa-long-arrow-alt-right"></i> Para practicar un deporte es importante acudir a un entrenador, para que te guíe hacia el objetivo de ganas peso.</p>
                <a href="#" class="btn btn-primary">Ver mas informacion</a>
              </div>
            </div>
            <div class="card mt-3">
              <h5 class="card-header"><i class="fas fa-angle-right"></i> COMER CADA TRES HORAS</h5>
              <div class="card-body">
                <p class="card-text"><i class="fas fa-long-arrow-alt-right"></i> Cada comida del día es vital para esta dieta, es más, intenta comer cada tres horas. Desde los frutos secos mencionados antes, hasta frutas, pan con aceite o de oliva virgen extra son alimentos que contienen un alto valor calórico.</p>
                <a href="#" class="btn btn-primary">Ver mas informacion</a>
              </div>
            </div>
          
           







            
            
         
         
    
          
    
        </div>
    
        <div class="col-md-4 ">
          <div class="position-sticky" style="top: 2rem;">
            <div class="p-4 mb-3 bg-light rounded animate__animated animate__rubberBand">
              <h4 class="fst-italic "><i class="fas fa-book-open"></i> RECOMENDACION</h4>
              <p class="mb-0">debe instaurarse tras un minucioso estudio nutricional, adaptándola a los gustos de cada persona</p>
            </div>
    
            <div class="p-4">
              <h4 class="fst-italic">DIETAS</h4>
              <ol class="list-unstyled mb-0">
                <li><a href="#"><i class="fas fa-arrow-right"></i> Hiperproteica</a></li>
                <li><a href="#"><i class="fas fa-arrow-right"></i> Hipocalorica</a></li>
                <li><a href="#"><i class="fas fa-arrow-right"></i> Dieta liquida</a></li>
                <li><a href="#"><i class="fas fa-arrow-right"></i> Dieta blanda</a></li>
                <li><a href="#"><i class="fas fa-arrow-right"></i> Dieta astringente</a></li>
                <li><a href="#"><i class="fas fa-arrow-right"></i> Dieta enteral</a></li>
                <li><a href="#"><i class="fas fa-arrow-right"></i> Dieta parenteral</a></li>
                <li><a href="#"><i class="fas fa-arrow-right"></i> Dieta sin lactosa</a></li>
                <li><a href="#"><i class="fas fa-arrow-right"></i> Dieta para la gastritis</a></li>
              </ol>
            </div>
    
            <div class="row mb-1 ml-1 ">
              <div class="col-md-12 ">
                <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                  <div class="col p-4 d-flex flex-column position-static">
                    <h3 class="mb-1">Enteral</h3>
                    <p class="card-text mb-auto">La nutrición enteral es una medida de soporte nutricional </p>
                    <a href="#" class="stretched-link"><i class="fas fa-arrow-circle-right"></i> Seguir leyendo</a>
                  </div>
                   <img class="size" src="./img/DIETA ENTERAL.jpg" alt="">
                </div>
              </div>
          </div>
          <div class="row mb-1 ml-1 ">
            <div class="col-md-12 ">
              <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                <div class="col p-4 d-flex flex-column position-static">
                  <h3 class="mb-1">Hipocalorica</h3>
                  <p class="card-text mb-auto">se caracteriza por ser una dieta baja en calorías. </p>
                  <a href="#" class="stretched-link"><i class="fas fa-arrow-circle-right"></i> Seguir leyendo</a>
                </div>
                 <img class="size" src="./img/hipocalorica.jpg" alt="">
              </div>
            </div>
        </div>
        </div>
      </div>
      <div class="row mb-2 ml-auto mt-5 ">
        <div class="col-md-5 ">
          <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
            <div class="col p-4 d-flex flex-column position-static">
              <h3 class="mb-1">Gastritis</h3>
              <p class="card-text mb-auto">En pacientes con gastritis se recomienda seguir ciertas pautas dietéticas.</p>
              <a href="#" class="stretched-link"><i class="fas fa-arrow-circle-right"></i> Seguir leyendo</a>
            </div>
             <img class="size" src="./img/DIETA PARA GASTRITIS.PNG" alt="">
          </div>
        </div>
        <div class="col-md-5 ml-auto mr-3  ">
          <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
            <div class="col p-4 d-flex flex-column position-static">
              <h3 class="mb-1">Hipotiroidismo</h3>
              <p class="mb-auto">El hipotiroidismo aparece cuando la producción de las hormonas </p>
              <a href="#" class="stretched-link"><i class="fas fa-arrow-circle-right"></i> Seguir leyendo</a>
            </div>
              <img class="size" src="./img/DIETA PARA HIPOTIROIDISMO.jpg" alt="">
          </div>
        </div>
      </div>
    </main>
    
    
    


    <%- include('./partials/footer')%>
</body>
</html>