<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('./partials/link-header') %>
    <title>Dieta hipercalorica</title>
</head>
<body>
    <%- include('./partials/nav.ejs')  %>
  

    
    <%- include('./partials/slider.ejs')  %>
      
  <main class="container">
      <div class="row mb-2 ml-auto animate__animated animate__backInLeft ">
        <div class="col-md-5 ">
          <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
            <div class="col p-4 d-flex flex-column position-static">
              <h3 class="mb-1 ">Hiperproteica</h3>
              <p class="card-text mb-auto">Son aquellas dietas que limitan el aporte de proteínas al organismo.</p>
              <a href="/dieta-hiperproteica" class="stretched-link"><i class="fas fa-arrow-circle-right"></i> Seguir leyendo</a>
            </div>
             <img class="size" src="./img/hiperproteica.jpg" alt="">
          </div>
        </div>
        <div class="col-md-5 ml-auto mr-3  ">
          <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
            <div class="col p-4 d-flex flex-column position-static">
              <h3 class="mb-1 ">Dieta dash</h3>
              <p class="mb-auto"> La dieta se creó originalmente para ayudar a reducir la presión arterial alta.</p>
              <a href="#" class="stretched-link"><i class="fas fa-arrow-circle-right"></i> Seguir leyendo</a>
            </div>
              <img class="size" src="./img/DIETA PARA HIPERTENSOS.JPG" alt="">
          </div>
        </div>
      </div>
    
         
        
    
      <div class="row g-5">
        <div class="col-md-8">
          <h3 class="pb-4 mb-4 fst-italic border-bottom">
            <i class="fas fa-info-circle"></i> Informacion
          </h3>
          <article class="blog-post">
            <h2 class="blog-post-title"><i class="far fa-file-alt"></i> Dieta blanda</h2>
            <p>Una dieta blanda incluye alimentos que son suaves, no muy picantes y con poca fibra. Si usted está siguiendo una dieta blanda, no debe comer alimentos picantes, fritos ni crudos. Tampoco debe tomar alcohol ni bebidas que contengan cafeína.</p>
            <p>Su proveedor de atención médica le dirá cuándo puede empezar a comer otros alimentos de nuevo. Consumir alimentos saludables aún será importante cuando vuelva a agregar alimentos. Su proveedor puede remitirlo a un dietista o nutricionista para que lo ayude a planear una dieta saludable.</p>
            <hr>
            <div class="card mt-3">
              <h5 class="card-header"><i class="fas fa-angle-right"></i> Alimentos que se pueden comer</h5>
              <div class="card-body">
                  <ul>
                    <li>Leche y otros productos lácteos, solo bajos en grasa o sin grasa</li>
                    <li>Verduras cocidas, enlatadas o congeladas</li>
                    <li>Papas</li>
                    <li>Frutas enlatadas así como puré de manzana, banano y melón</li>
                    <li>Jugos de frutas y de verduras (algunas personas, especialmente aquellas con ERGE, es posible que quieran evitar los cítricos y los tomates)</li>
                    <li>Panes, galletas y pasta elaborados con harina blanca refinada</li>
                    <li>Cereales calientes y refinados, tales como la Cream of Wheat (cereales farina)</li>
                    <li>Carnes tiernas y magras, tales como las de aves de corral, el pescado blanco y los mariscos, preparados al vapor, horneados o asados a la parrilla sin grasa agregada</li>
                    <li>Mantequilla de maní cremosa</li>
                    <li>Budín y natillas</li>
                    <li>Huevos</li>
                  </ul> 
              </div>
            </div>

          
                <hr>
                <div class="card mt-3">
                  <h5 class="card-header"><i class="fas fa-angle-right"></i> Alimentos a evitar </h5>
                  <div class="card-body">
                      <ul>
                        <li>Lácteos grasosos, tales como la crema batida o el helado rico en grasa</li>
                        <li>Quesos fuertes, tales como el azul o el Roquefort</li>
                        <li>Papas</li>
                        <li>Verduras crudas y ensaladas</li>
                        <li>Verduras que producen gases, tales como el brócoli, el repollo, la coliflor, el pepino, los pimientos verdes y el maíz</li>
                        <li>Frutas deshidratadas</li>
                        <li>Cereales de salvado o integrales</li>
                        <li>Galletas, pasta o panes integrales</li>
                        <li>Encurtidos, chucrut y otros alimentos fermentados</li>
                        <li>Especias y sazonadores fuertes, como el ají picante y el ajo</li>
                        <li>Semillas y nueces</li>
                      </ul> 
                  </div>
                </div>
             </div>
        
       

        <div class="col-md-4 ">
          <div class="position-sticky" style="top: 2rem;">
            <div class="p-4 mb-3 bg-light rounded animate__animated animate__rubberBand">
              <h4 class="fst-italic "><i class="fas fa-book-open"></i> RECOMENDACION</h4>
              <p class="mb-0">Se puede emplear junto con cambios en el estilo de vida para ayudar a tratar los síntomas de úlceras, acidez gástrica, ERGE, náuseas y vómitos.</p>
            </div>
    
            <div class="p-4">
              <h4 class="fst-italic">DIETAS</h4>
              <ol class="list-unstyled mb-0">
                <li><a href="/dieta-hipercalorica"><i class="fas fa-arrow-right"></i> Hipercalorica</a></li>
                <li><a href="/dieta-liquida"><i class="fas fa-arrow-right"></i> Dieta liquida</a></li>
                <li><a href="#"><i class="fas fa-arrow-right"></i> Dieta astringente</a></li>
                <li><a href="#"><i class="fas fa-arrow-right"></i> Dieta enteral</a></li>
                <li><a href="#"><i class="fas fa-arrow-right"></i> Dieta parenteral</a></li>
                <li><a href="#"><i class="fas fa-arrow-right"></i> Dieta sin lactosa</a></li>
                <li><a href="#"><i class="fas fa-arrow-right"></i> Dieta para la gastritis</a></li>
              </ol>
            </div>
    
            <div class="row mb-1 ml-1 ">
              <div class="col-md-12 ">
                <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                  <div class="col p-4 d-flex flex-column position-static">
                    <h3 class="mb-1">Enteral</h3>
                    <p class="card-text mb-auto">La nutrición enteral es una medida de soporte nutricional </p>
                    <a href="#" class="stretched-link"><i class="fas fa-arrow-circle-right"></i> Seguir leyendo</a>
                  </div>
                   <img class="size" src="./img/DIETA ENTERAL.jpg" alt="">
                </div>
              </div>
          </div>
          <div class="row mb-1 ml-1 ">
            <div class="col-md-12 ">
              <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                <div class="col p-4 d-flex flex-column position-static">
                  <h3 class="mb-1">Hipocalorica</h3>
                  <p class="card-text mb-auto">se caracteriza por ser una dieta baja en calorías. </p>
                  <a href="/dieta-hipocalorica" class="stretched-link"><i class="fas fa-arrow-circle-right"></i> Seguir leyendo</a>
                </div>
                 <img class="size" src="./img/hipocalorica.jpg" alt="">
              </div>
            </div>
        </div>
        </div>
      </div>
      <div class="row mb-2 ml-auto mt-5 ">
        <div class="col-md-5 ">
          <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
            <div class="col p-4 d-flex flex-column position-static">
              <h3 class="mb-1">Gastritis</h3>
              <p class="card-text mb-auto">En pacientes con gastritis se recomienda seguir ciertas pautas dietéticas.</p>
              <a href="#" class="stretched-link"><i class="fas fa-arrow-circle-right"></i> Seguir leyendo</a>
            </div>
             <img class="size" src="./img/DIETA PARA GASTRITIS.PNG" alt="">
          </div>
        </div>
        <div class="col-md-5 ml-auto mr-3  ">
          <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
            <div class="col p-4 d-flex flex-column position-static">
              <h3 class="mb-1">Hipotiroidismo</h3>
              <p class="mb-auto">El hipotiroidismo aparece cuando la producción de las hormonas </p>
              <a href="#" class="stretched-link"><i class="fas fa-arrow-circle-right"></i> Seguir leyendo</a>
            </div>
              <img class="size" src="./img/DIETA PARA HIPOTIROIDISMO.jpg" alt="">
          </div>
        </div>
      </div>
    </main>
    
    
    


    <%- include('./partials/footer')%>
</body>
</html>