<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('./partials/link-header') %>
    <title>Dieta hipercalorica</title>
</head>
<body>
    <%- include('./partials/nav.ejs')  %>
  

    
    <%- include('./partials/slider.ejs')  %>
      
  <main class="container">
      <div class="row mb-2 ml-auto animate__animated animate__backInLeft ">
        <div class="col-md-5 ">
          <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
            <div class="col p-4 d-flex flex-column position-static">
              <h3 class="mb-1 ">Hiperproteica</h3>
              <p class="card-text mb-auto">Son aquellas dietas que limitan el aporte de proteínas al organismo.</p>
              <a href="/dieta-hiperproteica" class="stretched-link"><i class="fas fa-arrow-circle-right"></i> Seguir leyendo</a>
            </div>
             <img class="size" src="./img/hiperproteica.jpg" alt="">
          </div>
        </div>
      </div>
    
         
        
    
      <div class="row g-5">
        <div class="col-md-8">
          <h3 class="pb-4 mb-4 fst-italic border-bottom">
            <i class="fas fa-info-circle"></i> Informacion
          </h3>
          <article class="blog-post">
            <h2 class="blog-post-title"><i class="far fa-file-alt"></i> Dieta dash</h2>
            <p>La dieta DASH es baja en sal y alta en frutas, vegetales, granos integrales, lácteos bajos en grasas y proteínas magras. DASH corresponde a las siglas en inglés de Enfoques Alimentarios para Detener la Hipertensión (Dietary Approaches to Stop Hypertension). La dieta se creó originalmente para ayudar a reducir la presión arterial alta. También es una manera saludable de perder peso.</p>
            <h3>Cómo funciona</h3>
            <p>La dieta DASH le ayuda a consumir alimentos nutritivos.

                No se trata solo de una dieta tradicional baja en sal. La dieta DASH enfatiza los alimentos ricos en calcio, potasio, magnesio y fibra, que al combinarse, ayudan a disminuir la presión arterial.
                
                Para seguir la dieta DASH para bajar de peso, usted consume una gran cantidad de:</p>
            <ul>
                <li>Vegetales y frutas sin almidón</li>
                <li>Productos lácteos sin grasa o con un bajo contenido de grasa</li>
                <li>Granos integrales</li>
                <li>Carnes magras, aves, frijoles, alimentos de soya, legumbres, y huevos y sustitutos de huevo</li>
                <li>Pescado</li>
                <li>Nueces y semillas</li>
                <li>Grasas saludables para el corazón, como aceite de oliva y canola o aguacates</li>
            </ul>
            <hr>
            <div class="card mt-3">
              <h5 class="card-header"><i class="fas fa-angle-right"></i> Alimentos prohibidos</h5>
              <div class="card-body">
                <p>Al seguir el plan DASH, usted debe reducir la cantidad que consume de estos alimentos:</p>
                    <ul>
                        <li>Alimentos con sal agregada (sodio) y agregar sal a las comidas</li>
                        <li>Alcohol</li>
                        <li>Bebidas azucaradas</li>
                        <li>Alimentos con alto contenido de grasas saturadas, como productos lácteos enteros y alimentos fritos</li>
                        <li>Los refrigerios empacados, que a mennudo tienen un alto contenido de grasa, sal y azúcar</li>
                    </ul>
                    <p>Antes de aumentar el potasio en su dieta o usar sustitutos de sal (que a menudo contienen potasio), consulte con su proveedor. Las personas que tienen problemas renales o que toman ciertos medicamentos deben ser cuidadosas acerca de la cantidad de potasio que consumen.</p>
              </div>
            </div>
                <hr>
                </div>
           
        
       

        <div class="col-md-4 ">
          <div class="position-sticky" style="top: 2rem;">
            <div class="p-4 mb-3 bg-light rounded animate__animated animate__rubberBand">
              <h4 class="fst-italic "><i class="fas fa-book-open"></i> RECOMENDACION</h4>
              <p class="mb-0">La dieta DASH recomienda 30 minutos de ejercicio al día, la mayoría de días de la semana. Lo importante es tener un total de al menos 2 horas y 30 minutos por semana de actividades a un nivel de intensidad moderada. Realice ejercicios que hagan que su corazón bombee. </p>
            </div>
    
            <div class="p-4">
              <h4 class="fst-italic">DIETAS</h4>
              <ol class="list-unstyled mb-0">
                <li><a href="/dieta-hipercalorica"><i class="fas fa-arrow-right"></i> dieta insuficiencia renal</a></li>
                <li><a href="/dieta-hipoproteica"><i class="fas fa-arrow-right"></i> Dieta hipoproteica</a></li>
                <li><a href="/dieta-liquida"><i class="fas fa-arrow-right"></i> Dieta liquida</a></li>
                <li><a href="/dieta-blanda"><i class="fas fa-arrow-right"></i> Dieta blanda</a></li>
              </ol>
            </div>
    
           
          <div class="row mb-1 ml-1 ">
            <div class="col-md-12 ">
              <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                <div class="col p-4 d-flex flex-column position-static">
                  <h3 class="mb-1">Hipocalorica</h3>
                  <p class="card-text mb-auto">se caracteriza por ser una dieta baja en calorías. </p>
                  <a href="/dieta-hipocalorica" class="stretched-link"><i class="fas fa-arrow-circle-right"></i> Seguir leyendo</a>
                </div>
                 <img class="size" src="./img/hipocalorica.jpg" alt="">
              </div>
            </div>
        </div>
        <div class="row mb-1 ml-1 ">
            <div class="col-md-12 ">
              <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                <div class="col p-4 d-flex flex-column position-static">
                  <h3 class="mb-1">Enteral</h3>
                  <p class="card-text mb-auto">La nutrición enteral es una medida de soporte nutricional </p>
                  <a href="/dieta-enteral" class="stretched-link"><i class="fas fa-arrow-circle-right"></i> Seguir leyendo</a>
                </div>
                 <img class="size" src="./img/DIETA ENTERAL.jpg" alt="">
              </div>
            </div>
        </div>
        </div>
      </div>
    </main>
    
    
    


    <%- include('./partials/footer')%>
</body>
</html>