<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('./partials/link-header') %>
    <title>Dieta hipercalorica</title>
</head>
<body>
    <%- include('./partials/nav.ejs')  %>
  

    
    <%- include('./partials/slider.ejs')  %>
      
  <main class="container">
      <div class="row mb-2 ml-auto animate__animated animate__backInLeft ">
        <div class="col-md-5 ">
          <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
            <div class="col p-4 d-flex flex-column position-static">
              <h3 class="mb-1 ">Hiperproteica</h3>
              <p class="card-text mb-auto">Son aquellas dietas que limitan el aporte de proteínas al organismo.</p>
              <a href="/dieta-hiperproteica" class="stretched-link"><i class="fas fa-arrow-circle-right"></i> Seguir leyendo</a>
            </div>
             <img class="size" src="./img/hiperproteica.jpg" alt="">
          </div>
        </div>
        <div class="col-md-5 ml-auto mr-3  ">
          <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
            <div class="col p-4 d-flex flex-column position-static">
              <h3 class="mb-1 ">Dieta dash</h3>
              <p class="mb-auto"> La dieta se creó originalmente para ayudar a reducir la presión arterial alta.</p>
              <a href="/dieta-dash" class="stretched-link"><i class="fas fa-arrow-circle-right"></i> Seguir leyendo</a>
            </div>
              <img class="size" src="./img/DIETA PARA HIPERTENSOS.JPG" alt="">
          </div>
        </div>
      </div>
    
         
        
    
      <div class="row g-5">
        <div class="col-md-8">
          <h3 class="pb-4 mb-4 fst-italic border-bottom">
            <i class="fas fa-info-circle"></i> Informacion
          </h3>
          <article class="blog-post">
            <h2 class="blog-post-title"><i class="far fa-file-alt"></i> Dieta astringente</h2>
            <p>El objetivo de una dieta astringente es recuperar los minerales y líquidos perdidos tras una enfermedad o dolencia estomacal, normalmente gastroenteritis tras la cual, el organismo se ha deshidratado.</p>
            <p>Esta dieta se basa en la combinación de alimentos astringentes, es decir, que estriñen o estrechan los tejidos. Se trata de recomponer nuestro sistema digestivo.</p>
            <hr>
            <div class="card mt-3">
              <h5 class="card-header"><i class="fas fa-angle-right"></i> En que casos se recomienda</h5>
              
              <div class="card-body">
                <p>La dieta astringente consiste en ir poco a poco introduciendo alimentos que nuestro sistema digestivo sea capaz de tolerar y asentar en el estómago para que pueda realizar sus funciones.</p>
                  <ul>
                    <p>La dieta astringente tiene varias fases:</p>
                    <li>La primera fase tras una descomposición estomacal es el ayuno, este no te costará demasiado pues, es posible que ante una gastroenteritis o cualquier otra dolencia digestiva, te sientas débil y sin apetito. Solo debes tomar líquidos como agua, agua con limón, que puedes hacer tu mismo en casa, o suero para evitar la deshidratación.</li>
                    <li>En la segunda fase que suele comenzar pasadas 6 o 24 horas, es el momento de empezar la dieta astringente para frenar la diarrea y que nuestro organismo vaya poco a poco acostumbrándose de nuevo a los alimentos, lo más habitual es comenzar con un poco de arroz blanco y pescado hervido, verduras como zanahoria y patata al vapor, y carnes magras a la plancha.</li>
                    <li>En esta tercera fase ya deberíamos encontrarnos mejor, puedes incluir en tu dieta astringente otras verduras en puré como el calabacín, la calabaza y las judías, el pan blanco, además de todos los alimentos que ya has incluido anteriormente.</li>
                    <li>En esta fase estás prácticamente recuperado, podrás introducir progresivamente los alimentos complejos hasta consumir una alimentación normal. Ya podrías incluir el plátano, casi todas las verduras hervidas, carnes o pescado blanco a la plancha, yogurt natural 0% de grasa, café descafeinado de sobre, queso fresco sin grasa, etc.</li>
                  </ul> 
              </div>
            </div>
                <hr>
                <div class="card mt-3">
                  <h5 class="card-header"><i class="fas fa-angle-right"></i> Alimentos astringentes </h5>
                  <div class="card-body">
                      <p>Te mostramos una lista de comidas o alimentos astringentes recomendados. Alimentos para dieta astringente:</p>
                      <ul>
                        <li>Yogurt natural.</li>
                        <li>Carnes: pollo, pavo, ternera, jamón cocido.</li>
                        <li>Pescados blancos: merluza, lenguado.</li>
                        <li>Verduras: zanahorias, y patatas cocidas.</li>
                        <li>Hidratos de carbono: Arroz, pasta y pan blanco.</li>
                        <li>Frutas astringentes: Plátano, manzana.</li>
                        <li>Cereales de salvado o integrales</li>
                        <li>Galletas, pasta o panes integrales</li>
                        <li>Encurtidos, chucrut y otros alimentos fermentados</li>
                        <li>Especias y sazonadores fuertes, como el ají picante y el ajo</li>
                        <li>Semillas y nueces</li>
                      </ul> 
                  </div>
                </div>
                <div class="card mt-3">
                    <h5 class="card-header"><i class="fas fa-angle-right"></i> Alimentos a evitar en una dieta astringente </h5>
                    <div class="card-body">
                        <ul>
                        <li>Alimentos rebozados.</li>
                        <li>Alimentos con fibra: cómo la mayoría de las frutas, la pasta, el arroz y los cereales integrales.</li>
                        <li>Alimentos picantes.</li>
                        <li>Pescados grasos como el salmón.</li>
                        <li>Guisos.</li>
                        <li>Frutos secos.</li>
                        <li>Embutidos y quesos grasos.</li>
                        <li>Margarina, mantequilla.</li>
                        <li>La leche con lactosa.</li>
                        <li>Café, alcohol, bebidas gaseosas.</li>
                        </ul> 
                    </div>
                </div>
                </div>
           
        
       

        <div class="col-md-4 ">
          <div class="position-sticky" style="top: 2rem;">
            <div class="p-4 mb-3 bg-light rounded animate__animated animate__rubberBand">
              <h4 class="fst-italic "><i class="fas fa-book-open"></i> RECOMENDACION</h4>
              <p class="mb-0">Este tipo de dietas están indicadas para frenar en seco la descomposición estomacal y sus síntomas: diarrea, náuseas y vómitos, debilidad, falta de apetito.</p>
            </div>
    
            <div class="p-4">
              <h4 class="fst-italic">DIETAS</h4>
              <ol class="list-unstyled mb-0">
                <li><a href="/dieta-hipercalorica"><i class="fas fa-arrow-right"></i> Hipercalorica</a></li>
                <li><a href="/dieta-liquida"><i class="fas fa-arrow-right"></i> Dieta liquida</a></li>
                <li><a href="/dieta-blanda"><i class="fas fa-arrow-right"></i> Dieta blanda</a></li>
                <li><a href="/dieta-enteral"><i class="fas fa-arrow-right"></i> Dieta enteral</a></li>
                <li><a href="/dieta-parenteral"><i class="fas fa-arrow-right"></i> Dieta parenteral</a></li>
              </ol>
            </div>
    
            <div class="row mb-1 ml-1 ">
              <div class="col-md-12 ">
                <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                  <div class="col p-4 d-flex flex-column position-static">
                    <h3 class="mb-1">Enteral</h3>
                    <p class="card-text mb-auto">La nutrición enteral es una medida de soporte nutricional </p>
                    <a href="/dieta-enteral" class="stretched-link"><i class="fas fa-arrow-circle-right"></i> Seguir leyendo</a>
                  </div>
                   <img class="size" src="./img/DIETA ENTERAL.jpg" alt="">
                </div>
              </div>
          </div>
          <div class="row mb-1 ml-1 ">
            <div class="col-md-12 ">
              <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                <div class="col p-4 d-flex flex-column position-static">
                  <h3 class="mb-1">Hipocalorica</h3>
                  <p class="card-text mb-auto">se caracteriza por ser una dieta baja en calorías. </p>
                  <a href="/dieta-hipocalorica" class="stretched-link"><i class="fas fa-arrow-circle-right"></i> Seguir leyendo</a>
                </div>
                 <img class="size" src="./img/hipocalorica.jpg" alt="">
              </div>
            </div>
        </div>
        </div>
      </div>
    </main>
    
    
    


    <%- include('./partials/footer')%>
</body>
</html>