<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('./partials/link-header') %>
   
    <title>Document</title>
</head>
    <body>
       
      <%- include('./partials/nav')%>
           
         
         
         
         
         <script>
           $(document).ready(function(){
               $("#hide").click(function(){
                 $("li").toggle(1000);
               });
             });
           </script>
         
         
         
         
         
             
         
         
         
         
         
         
         <!--PRIMERA FILA -->
        <section class="container-fluid col-xl-11 col-lg-11 col-sm-11 col-md-12 col-11 mt-5">
          <div class="card-deck row ">
            <div class="card ">
              <img class="image animate__animated animate__rubberBand"  src="./img/hipercalorica.jpg" class="card-img-top img-fluid" alt="...">
              <div class="card-body">
                <h5 class="card-title">DIETA HIPERCALORICA</h5>
                <p class="card-text">Este tipo de dieta se le recomienda aplicar a los pacientes con un exceso de grasa corporal
                </p>
                <button class="btn btn-outline-secondary"><a class="text-reset text-decoration-none"
                    href="/dieta-hipercalorica" target="_BLANC"><i class="fas fa-arrow-right"></i> VER MAS</a></button>
              </div>
            </div>
           
           
             <div class="card ">
               <img class="image animate__animated animate__rubberBand" src="./img/hiperproteica.jpg" class="card-img-top img-fluid"  alt="...">
               <div class="card-body">
                 <h5 class="card-title">DIETA HIPERPROTEICA</h5>
                 <p class="card-text">se basa en un aumento del consumo de alimentos ricos en proteínas </p>
                 <button class="btn btn-outline-danger"><a class="text-reset text-decoration-none" href="/dieta-hiperproteica"><i class="fas fa-arrow-right"></i> VER MAS</a></button>
               </div>
             </div>
           
           
           
           
             <div class="card ">
               <img class="image animate__animated animate__rubberBand" src="./img/hipoproteica.jpg" class="card-img-top img-fluid"  alt="...">
               <div class="card-body">
                 <h5 class="card-title">DIETA HIPOPROTEICA</h5>
                 <p class="card-text">Son aquellas dietas que limitan el aporte de proteínas al organismo.</p>
                 <button class="btn btn-outline-primary"><a class="text-reset text-decoration-none" href="/dieta-hipoproteica"><i class="fas fa-arrow-right"></i> VER MAS</a></button>
               </div>
             </div>
           </div>
           </section>
         
           
           
           
           
         
         
         
         
         
         <!--SEGUNDA FILA -->
         <section class="container-fluid col-xl-11 col-lg-11 col-sm-11 col-md-12 col-11 mt-5" >
         
           <div class="card-deck row ">
             <div class="card ">
               <img class="image animate__animated animate__rubberBand"src="./img/hipocalorica.jpg" class="card-img-top img-fluid"  alt="...">
               <div class="card-body">
                 <h5 class="card-title">DIETA HIPOCALORICA</h5>
                 <p class="card-text">La dieta hipocalórica se caracteriza por ser una dieta o régimen dietético bajo en calorías. Es decir, consiste en aplicar una restricción calórica diaria o reducir la ingesta de alimento que aportan calorías. </p>
                 <button class="btn btn-outline-secondary"><a class="text-reset text-decoration-none" href="/dieta-hipocalorica"><i class="fas fa-arrow-right"></i> VER MAS</a> </button>
               </div>
             </div>
             
           
           
             <div class="card ">
               <img class="image animate__animated animate__rubberBand" src="./img/DIETA LIQUIDA.jpg" class="card-img-top img-fluid"  alt="...">
               <div class="card-body">
                 <h5 class="card-title">DIETA LIQUIDA</h5>
                 <p class="card-text">Una dieta líquida completa se compone de líquidos y alimentos que son normalmente líquidos y alimentos que se vuelven líquidos cuando están a temperatura ambiente</p>
                 <button class="btn btn-outline-dark"><a class="text-reset text-decoration-none" href="/dieta-liquida"><i class="fas fa-arrow-right"></i> VER MAS </a></button>
               </div>
             </div>
           
           
           
           
             <div class="card ">
               <img class="image animate__animated animate__rubberBand" src="./img/DIETA BLANDA.jpg" class="card-img-top img-fluid"  alt="...">
               <div class="card-body">
                 <h5 class="card-title">DIETA BLANDA</h5>
                 <p class="card-text">Se puede emplear junto con cambios en el estilo de vida para ayudar a tratar los síntomas de úlceras, acidez gástrica, ERGE, náuseas y vómitos.</p>
                 <button class="btn btn-outline-primary"><a href="/dieta-blanda"><i class="fas fa-arrow-right"></i> VER MAS</a> </button>
               </div>
             </div>
           </div>
           
           </section>
         
         <!--TERCERA FILA -->
           <section class="container-fluid col-xl-11 col-lg-11 col-sm-11 col-md-12 col-11 mt-5" >
           
             <div class="card-deck row  ">
               <div class="card ">
                 <img class="image animate__animated animate__rubberBand" src="./img/DIETA ASTRINGENTE.png"  class="card-img-top img-fluid "  alt="...">
                 <div class="card-body ">
                   <h5 class="card-title">DIETA ASTRINGENTE</h5>
                   <p class="card-text">Este tipo de dieta se le recomienda aplicar a los pacientes con un exceso de grasa corporal </p>
                   <button class="btn btn-outline-danger"><a href=""></a><i class="fas fa-arrow-right"></i> VER MAS</button>
                 </div>
               </div>
               
             
             
               <div class="card ">
                 <img class="image animate__animated animate__rubberBand" src="./img/DIETA ENTERAL.jpg"  class="card-img-top img-fluid"  alt="...">
                 <div class="card-body">
                   <h5 class="card-title">DIETA ENTERAL</h5>
                   <p class="card-text">La nutrición enteral es una medida de soporte nutricional mediante la cual se introducen los nutrientes directamente en el tubo digestivo.</p>
                   <button class="btn btn-outline-dark"><a href=""></a><i class="fas fa-arrow-right"></i> VER MAS</button>
                 </div>
               </div>
             
             
             
             
               <div class="card ">
                 <img class="image animate__animated animate__rubberBand" src="./img/NUTRICION PARENTERAL.png"  class="card-img-top img-fluid"  alt="...">
                 <div class="card-body">
                   <h5 class="card-title">DIETA PARENTERAL</h5>
                   <p class="card-text">Este tipo de dietas se recomienda para pacientes que esten en proceso de ganancia de masa muscular o que realizan abundante actividad fisica</p>
                   <button class="btn btn-outline-primary"><a href=""></a><i class="fas fa-arrow-right"></i> VER MAS</button>
                 </div>
               </div>
             </div>
             </section>
         <!--CUARTA FILA -->
             <section class="container-fluid col-xl-11 col-lg-11 col-sm-11 col-md-12 col-11 mt-5" >
           
               <div class="card-deck row  ">
                 <div class="card ">
                   <img class="image animate__animated animate__rubberBand" src="./img/DIETA PARA DIABETICOS.jpg"  class="card-img-top img-fluid "  alt="...">
                   <div class="card-body ">
                     <h5 class="card-title">DIETA PARA DIABETICOS</h5>
                     <p class="card-text">Este tipo de dieta se le recomienda aplicar a los pacientes con un exceso de grasa corporal </p>
                     <button class="btn btn-outline-danger"><a href=""></a><i class="fas fa-arrow-right"></i> VER MAS</button>
                   </div>
                 </div>
                 
               
               
                 <div class="card ">
                   <img class="image animate__animated animate__rubberBand" src="./img/DIETA PARA INSUFICIENCIA RENAL.jpg"  class="card-img-top img-fluid"  alt="...">
                   <div class="card-body">
                     <h5 class="card-title">DIETA PARA INSUFICIENCIA RENAL</h5>
                     <p class="card-text">Este tipo de dieta se le recomienda a los pacientes que tienen algun tipo de problema renal </p>
                     <button class="btn btn-outline-dark"><a href=""></a><i class="fas fa-arrow-right"></i> VER MAS</button>
                   </div>
                 </div>
               
               
               
               
                 <div class="card ">
                   <img class="image animate__animated animate__rubberBand" src="./img/DIETA PARA HIPERTENSOS.jpg"  class="card-img-top img-fluid"  alt="...">
                   <div class="card-body">
                     <h5 class="card-title">DIETA PARA PACIENTES CON HIPERTENSION</h5>
                     <p class="card-text"> La dieta se creó originalmente para ayudar a reducir la presión arterial alta.</p>
                     <button class="btn btn-outline-primary"><a href=""></a><i class="fas fa-arrow-right"></i> VER MAS</button>
                   </div>
                 </div>
               </div>
               </section>
         <!--QUINTA FILA -->
               <section class="container-fluid col-xl-11 col-lg-11 col-sm-11 col-md-12 col-11 mt-5" >
           
                 <div class="card-deck row  ">
                   <div class="card ">
                     <img class="image animate__animated animate__rubberBand" src="./img/DIETA SIN LACTOSA.jpg"  class="card-img-top img-fluid "  alt="...">
                     <div class="card-body ">
                       <h5 class="card-title">DIETA SIN LACTOSA</h5>
                       <p class="card-text">Este tipo de dieta se le recomienda aplicar a los pacientes con un exceso de grasa corporal </p>
                       <button class="btn btn-outline-danger"><a href=""></a><i class="fas fa-arrow-right"></i> VER MAS</button>
                     </div>
                   </div>
                   
                 
                 
                   <div class="card ">
                     <img class="image animate__animated animate__rubberBand" src="./img/DIETA ENFERMEDAD DE CROHN.jpg"  class="card-img-top img-fluid"  alt="...">
                     <div class="card-body">
                       <h5 class="card-title">DIETA PARA ENFERMEDAD DE CROHN</h5>
                       <p class="card-text">Este tipo de dieta se le recomienda a los pacientes que tienen algun tipo de problema renal </p>
                       <button class="btn btn-outline-dark"><a href=""></a><i class="fas fa-arrow-right"></i> VER MAS</button>
                     </div>
                   </div>
                 
                 
                 
                 
                   <div class="card ">
                     <img class="image animate__animated animate__rubberBand" src="./img/DIETA PARA HIPOTIROIDISMO.jpg"  class="card-img-top img-fluid"  alt="...">
                     <div class="card-body">
                       <h5 class="card-title">DIETA PARA PACIENTES CON HIPOTIROIDISMO</h5>
                       <p class="card-text">El hipotiroidismo aparece cuando la producción de las hormonas generadas por la tiroides se ve mermada</p>
                       <button class="btn btn-outline-primary"><a href=""></a><i class="fas fa-arrow-right"></i> VER MAS</button>
                     </div>
                   </div>
                 </div>
                 </section>
         <!--SEXTA FILA -->
                 <section class="container-fluid col-xl-11 col-lg-11 col-sm-11 col-md-12 col-11 mt-5" >
           
                   <div class="card-deck row  ">
                     <div class="card ">
                       <img class="image animate__animated animate__rubberBand" src="./img/DIETA PARA GASTRITIS.png"  class="card-img-top img-fluid "  alt="...">
                       <div class="card-body ">
                         <h5 class="card-title">DIETA PARA LA GASTRITIS</h5>
                         <p class="card-text">En pacientes con gastritis se recomienda seguir ciertas pautas dietéticas. </p>
                         <button class="btn btn-outline-danger"><a href=""></a><i class="fas fa-arrow-right"></i> VER MAS</button>
                       </div>
                     </div>
                     
                   
                   
                     <div class="card ">
                       <img class="image animate__animated animate__rubberBand" src="./img/DIETA DE ACIDO URICO.jpg"  class="card-img-top img-fluid"  alt="...">
                       <div class="card-body">
                         <h5 class="card-title">DIETA PARA DISMINUIR EL ACIDO URICO</h5>
                         <p class="card-text">Este tipo de dieta se le recomienda a los pacientes que tienen algun tipo de problema renal </p>
                         <button class="btn btn-outline-dark"><a href=""></a><i class="fas fa-arrow-right"></i> VER MAS</button>
                       </div>
                     </div>
                   
                   
                   
                   
                     <div class="card ">
                       <img class="image animate__animated animate__rubberBand" src="./img/DIETA CETOGENICA.jpg"  class="card-img-top img-fluid"  alt="...">
                       <div class="card-body">
                         <h5 class="card-title">DIETA CETOGENICA O KETO</h5>
                         <p class="card-text">Este tipo de dietas se recomienda para pacientes que esten en proceso de ganancia de masa muscular o que realizan abundante actividad fisica</p>
                         <button class="btn btn-outline-primary"><a href=""></a><i class="fas fa-arrow-right"></i> VER MAS</button>
                       </div>
                     </div>
                   </div>
                   </section>

                   <%- include('./partials/footer')%>
         
                 
</body>
</html>


