<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('./partials/link-header') %>
    <title>Dieta hipercalorica</title>
</head>
<body>
    <%- include('./partials/nav.ejs')  %>
  

    
    <%- include('./partials/slider.ejs')  %>
      
  <main class="container">
      <div class="row mb-2 ml-auto animate__animated animate__backInLeft ">
        <div class="col-md-5 ">
          <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
            <div class="col p-4 d-flex flex-column position-static">
              <h3 class="mb-1 ">Hiperproteica</h3>
              <p class="card-text mb-auto">Son aquellas dietas que limitan el aporte de proteínas al organismo.</p>
              <a href="/dieta-hiperproteica" class="stretched-link"><i class="fas fa-arrow-circle-right"></i> Seguir leyendo</a>
            </div>
             <img class="size" src="./img/hiperproteica.jpg" alt="">
          </div>
        </div>
        <div class="col-md-5 ml-auto mr-3  ">
          <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
            <div class="col p-4 d-flex flex-column position-static">
              <h3 class="mb-1 ">Dieta dash</h3>
              <p class="mb-auto"> La dieta se creó originalmente para ayudar a reducir la presión arterial alta.</p>
              <a href="/dieta-dash" class="stretched-link"><i class="fas fa-arrow-circle-right"></i> Seguir leyendo</a>
            </div>
              <img class="size" src="./img/DIETA PARA HIPERTENSOS.JPG" alt="">
          </div>
        </div>
      </div>
    
         
        
    
      <div class="row g-5">
        <div class="col-md-8">
          <h3 class="pb-4 mb-4 fst-italic border-bottom">
            <i class="fas fa-info-circle"></i> Informacion
          </h3>
          <article class="blog-post">
            <h2 class="blog-post-title"><i class="far fa-file-alt"></i> Fundamentos de la dieta renal</h2>
            <p>Con todos los planes de alimentación, incluyendo la dieta renal, es necesario realizar un seguimiento de la cantidad de ciertos nutrientes que consumes, como: </p>
            <ul>
                <li>Calorías</li>
                <li>Proteína</li>
                <li>Grasa</li>
                <li>Carbohidratos</li>
            </ul>
            <p>Para asegurarse que estas recibiendo la cantidad adecuada de estos nutrientes, necesitas comer y beber los tamaños de las porciones adecuadas.  Toda la información que necesitas para realizar un seguimiento de tu consumo es una etiqueta de “información nutricional”.</p>
            <p>Usa la sección de información de nutrición en las etiquetas de la comidas para saber más acerca de las comidas que consumes.  La información de nutrición te dirá cuanta proteína, carbohidratos, grasa y sodio hay en cada servida de esa comida.  Esto puede ayudarte a escoger alimentos que sean ricos en los nutrientes que necesitas y baja en los nutrientes que debes limitar.</p>
            <hr>
            <div class="card mt-3">
              <h5 class="card-header"><i class="fas fa-angle-right"></i> ¿Cuál es la diferencia de una dieta renal?</h5>
              
              <div class="card-body">
                <p>Cuando tus riñones no están trabajando tan bien como deberían, desechos y líquidos se acumulen en tu cuerpo.  Después de un tiempo, este deshecho y extra líquido puede causar problemas con el corazón, los huesos y otros problemas de salud.  Un plan de alimentación de dieta renal puede limitar la cantidad de ciertos minerales y líquidos que consumes.  Esto puede prevenir que se acumulen los deshechos y extra líquidos y que causen problemas.
                    Que tan estricto necesitas ser con tu plan depende de tu etapa de enfermedad renal.  En las etapas tempranas de enfermedad renal, puede que hayan pocos o ningún límite en lo que comes o bebes.  Al pasar el tiempo y tú enfermedad renal empeora, tú medico te puede recomendar que límites:</p>
                    <ul>
                        <li>El potasio</li>
                        <li>El fosforo</li>
                        <li>Líquidos</li>
                    </ul>
              </div>
            </div>
                <hr>
                <div class="card mt-3">
                  <h5 class="card-header"><i class="fas fa-angle-right"></i> Preocupaciones especiales de dieta</h5>
                  <div class="card-body">
                      <p>Seguir un plan de alimentación con una dieta renal puede prevenir que tu cuerpo obtenga suficientes vitaminas y minerales que necesitas.  Para ayudarte a obtener el nivel adecuado de vitaminas y minerales, tu dietista puede sugerir  un suplemento hecho para personas con enfermedad renal.</p>
                      <p>Tu médico o dietista también pueden sugerir un tipo especial de vitamina D, ácido fólico o una pastilla de hierro para ayudarte a prevenir algunos efectos secundarios comunes de la enfermedad del riñón, tales como la enfermedad de los huesos y la anemia.</p>
                  </div>
                </div>
                </div>
           
        
       

        <div class="col-md-4 ">
          <div class="position-sticky" style="top: 2rem;">
            <div class="p-4 mb-3 bg-light rounded animate__animated animate__rubberBand">
              <h4 class="fst-italic "><i class="fas fa-book-open"></i> RECOMENDACION</h4>
              <p class="mb-0">Cuando tienes enfermedad renal, tú necesitas tener un plan de alimentación que incluye una dieta renal.  Tomar nota de lo que comes y bebes te ayudara a mantenerte saludable.  La información en esta sección es para personas que tienen enfermedad renal pero no reciben tratamiento de diálisis.</p>
            </div>
    
            <div class="p-4">
              <h4 class="fst-italic">DIETAS</h4>
              <ol class="list-unstyled mb-0">
                <li><a href="/dieta-hipercalorica"><i class="fas fa-arrow-right"></i> dieta hipercalorica</a></li>
                <li><a href="/dieta-hipocalorica"><i class="fas fa-arrow-right"></i> Dieta hipocalorica</a></li>
                <li><a href="/dieta-liquida"><i class="fas fa-arrow-right"></i> Dieta liquida</a></li>
                <li><a href="/dieta-blanda"><i class="fas fa-arrow-right"></i> Dieta blanda</a></li>
              </ol>
            </div>
    
            <div class="row mb-1 ml-1 ">
              <div class="col-md-12 ">
                <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                  <div class="col p-4 d-flex flex-column position-static">
                    <h3 class="mb-1">Enteral</h3>
                    <p class="card-text mb-auto">La nutrición enteral es una medida de soporte nutricional </p>
                    <a href="/dieta-enteral" class="stretched-link"><i class="fas fa-arrow-circle-right"></i> Seguir leyendo</a>
                  </div>
                   <img class="size" src="./img/DIETA ENTERAL.jpg" alt="">
                </div>
              </div>
          </div>
          <div class="row mb-1 ml-1 ">
            <div class="col-md-12 ">
              <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                <div class="col p-4 d-flex flex-column position-static">
                  <h3 class="mb-1">Hipocalorica</h3>
                  <p class="card-text mb-auto">se caracteriza por ser una dieta baja en calorías. </p>
                  <a href="/dieta-hipocalorica" class="stretched-link"><i class="fas fa-arrow-circle-right"></i> Seguir leyendo</a>
                </div>
                 <img class="size" src="./img/hipocalorica.jpg" alt="">
              </div>
            </div>
        </div>
        </div>
      </div>
    </main>
    
    
    


    <%- include('./partials/footer')%>
</body>
</html>