<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include('./partials/link-header') %>
    <title>Dieta hipercalorica</title>
</head>
<body>
    <%- include('./partials/nav.ejs')  %>
  

    
    <%- include('./partials/slider.ejs')  %>
      
  <main class="container">
      <div class="row mb-2 ml-auto animate__animated animate__backInLeft ">
        <div class="col-md-5 ">
          <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
            <div class="col p-4 d-flex flex-column position-static">
              <h3 class="mb-1 ">Hiperproteica</h3>
              <p class="card-text mb-auto">Son aquellas dietas que limitan el aporte de proteínas al organismo.</p>
              <a href="/dieta-hiperproteica" class="stretched-link"><i class="fas fa-arrow-circle-right"></i> Seguir leyendo</a>
            </div>
             <img class="size" src="./img/hiperproteica.jpg" alt="">
          </div>
        </div>
        <div class="col-md-5 ml-auto mr-3  ">
          <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
            <div class="col p-4 d-flex flex-column position-static">
              <h3 class="mb-1 ">Dieta dash</h3>
              <p class="mb-auto"> La dieta se creó originalmente para ayudar a reducir la presión arterial alta.</p>
              <a href="/dieta-dash" class="stretched-link"><i class="fas fa-arrow-circle-right"></i> Seguir leyendo</a>
            </div>
              <img class="size" src="./img/DIETA PARA HIPERTENSOS.JPG" alt="">
          </div>
        </div>
      </div>
    
         
        
    
      <div class="row g-5">
        <div class="col-md-8">
          <h3 class="pb-4 mb-4 fst-italic border-bottom">
            <i class="fas fa-info-circle"></i> Informacion
          </h3>
          <article class="blog-post">
            <h2 class="blog-post-title"><i class="far fa-file-alt"></i>Proteinas</h2>
            <p>Las proteínas son moléculas grandes y complejas que desempeñan muchas funciones críticas en el cuerpo. Realizan la mayor parte del trabajo en las células y son necesarias para la estructura, función y regulación de los tejidos y órganos del cuerpo.

                Las proteínas están formadas por cientos o miles de unidades más pequeñas llamadas aminoácidos, que se unen entre sí en largas cadenas. Hay 20 tipos diferentes de aminoácidos que se pueden combinar para formar una proteína. La secuencia de aminoácidos determina la estructura tridimensional única de cada proteína y su función específica.
                
                Las proteínas se pueden describir según su amplia gama de funciones en el cuerpo:</p>
                <table class="mb-3">
                    <tr>
                      <td><strong>Funcion</strong></td>
                      <td><strong>Descripcion</strong></td>
                      <td><strong>Ejemplo </strong></td>
                    </tr>
                    
                    <tr>
                      <td>Anticuerpo</td>
                      <td>Los anticuerpos se unen a partículas extrañas específicas, como virus y bacterias, para ayudar a proteger el cuerpo.</td>
                      <td>Inmunoglobulina</td>
                    </tr>
                    
                    <tr>
                      <td>Enzima</td>
                      <td>Las enzimas llevan a cabo casi todas las miles de reacciones químicas que ocurren en las células. También ayudan con la formación de nuevas moléculas leyendo la información genética almacenada en el ADN.</td>
                      <td>Fenilananina hidroxilasa</td>
                    </tr>
                    
                    <tr>
                      <td>Mensajera</td>
                      <td>Al igual que algunos tipos de hormonas, las proteínas mensajeras transmiten señales para coordinar procesos biológicos entre diferentes células, tejidos y órganos.</td>
                      <td>Hormona de crecimiento</td>
                    </tr>

                    <tr>
                      <td>Estructural</td>
                      <td>Estas proteínas brindan estructura y soporte a las células. A mayor escala, también permiten que el cuerpo se mueva.</td>
                      <td>Actina</td>
                    </tr>

                    <tr>
                      <td>Transporte/
                        almacenamiento</td>
                      <td>Estas proteínas se unen y transportan átomos y moléculas pequeñas dentro de las células y por todo el cuerpo.</td>
                      <td>Ferritina</td>
                    </tr>
                    </table>
            <p>Para asegurarse que estas recibiendo la cantidad adecuada de estos nutrientes, necesitas comer y beber los tamaños de las porciones adecuadas.  Toda la información que necesitas para realizar un seguimiento de tu consumo es una etiqueta de “información nutricional”.</p>
            <p>Usa la sección de información de nutrición en las etiquetas de la comidas para saber más acerca de las comidas que consumes.  La información de nutrición te dirá cuanta proteína, carbohidratos, grasa y sodio hay en cada servida de esa comida.  Esto puede ayudarte a escoger alimentos que sean ricos en los nutrientes que necesitas y baja en los nutrientes que debes limitar.</p>
            <hr>
            <div class="card mt-3">
              <h5 class="card-header"><i class="fas fa-angle-right"></i> Carbohidratos</h5>
              
              <div class="card-body">
                <p>Los carbohidratos son moléculas de azúcar. Junto con las proteínas y las grasas, los carbohidratos son uno de los tres nutrientes principales que se encuentran en alimentos y bebidas.</p>
                <p>Su cuerpo descompone los carbohidratos en glucosa. La glucosa, o azúcar en la sangre, es la principal fuente de energía para las células, tejidos y órganos del cuerpo. La glucosa puede usarse inmediatamente o almacenarse en el hígado y los músculos para su uso posterior.</p>
              </div>
            </div>
                <hr>
                <div class="card mt-3">
                  <h5 class="card-header"><i class="fas fa-angle-right"></i> ¿Cuáles son los diferentes tipos de carbohidratos?</h5>
                  <ul class="mt-3">
                      <li>Azúcares: También se llaman carbohidratos simples porque se encuentran en su forma más básica. Pueden agregarse a los alimentos, como el azúcar en dulces, postres, alimentos procesados y refrescos. También incluyen los tipos de azúcar que se encuentran naturalmente en frutas, verduras y leche</li>
                      <li>Almidones: Son carbohidratos complejos que están hechos de muchos azúcares simples unidos. Su cuerpo necesita descomponer los almidones en azúcares para usarlos como energía. Los almidones incluyen pan, cereal y pasta. También incluyen ciertas verduras, como papas, guisantes y maíz</li>
                      <li>Fibra: También es un carbohidrato complejo. Su cuerpo no puede descomponer la mayoría de la fibra, por lo que comer alimentos con fibra puede ayudarle a sentirse lleno y hacer que sea menos probable que coma en exceso. Las dietas altas en fibra tienen otros beneficios para la salud. Pueden ayudar a prevenir problemas estomacales o intestinales, como el estreñimiento. También pueden ayudar a bajar el colesterol y azúcar en la sangre. La fibra se encuentra en muchos alimentos que provienen de plantas, como frutas, verduras, nueces, semillas, frijoles y granos integrales</li>
                  </ul>
                  <div class="card-body">
                      <p>Seguir un plan de alimentación con una dieta renal puede prevenir que tu cuerpo obtenga suficientes vitaminas y minerales que necesitas.  Para ayudarte a obtener el nivel adecuado de vitaminas y minerales, tu dietista puede sugerir  un suplemento hecho para personas con enfermedad renal.</p>
                      <p>Tu médico o dietista también pueden sugerir un tipo especial de vitamina D, ácido fólico o una pastilla de hierro para ayudarte a prevenir algunos efectos secundarios comunes de la enfermedad del riñón, tales como la enfermedad de los huesos y la anemia.</p>
                  </div>
                </div>

                <div class="card mt-3">
                    <h5 class="card-header"><i class="fas fa-angle-right"></i> Grasas</h5>
                   <p class="p-2 mt-2">Las grasas son un tipo de nutriente que se obtiene de la alimentación. Es esencial comer algunas grasas, aunque también es dañino comer demasiado.

                    Las grasas que usted consume le dan al cuerpo la energía que necesita para trabajar adecuadamente. Durante el ejercicio, el cuerpo utiliza las calorías de los carbohidratos que usted ha consumido. Pero después de 20 minutos, el ejercicio depende en parte de las calorías provenientes de la grasa para continuar.</p>
                    <p class="p-2">Usted también necesita grasa para mantener la piel y el cabello saludables. La grasa también le ayuda a absorber las vitaminas A, D, E y K, llamadas vitaminas liposolubles. La grasa también llena los adipocitos y aísla su cuerpo para ayudar a mantenerlo caliente.</p>
                    <p class="p-2">Las grasas que su cuerpo obtiene de los alimentos le brindan a éste ácidos grasos esenciales llamados ácido linoleico y ácido linolénico. Se denominan "esenciales" debido a que su cuerpo no los puede producir por sí solo o no trabaja sin ellos. El cuerpo los necesita para el desarrollo del cerebro, el control de la inflamación y la coagulación de la sangre.</p>
                    <p class="p-2">La grasa tiene 9 calorías por gramo, más de 2 veces el número de calorías tanto en carbohidratos como en proteínas, que tienen 4 calorías por gramo. Por eso los alimentos ricos en grasa se denominan "engordantes".</p>
                    <p class="p-2">Todas las grasas están compuestas de ácidos grasos saturados e insaturados. Se denominan saturadas o insaturadas dependiendo de cuánta cantidad de cada tipo de ácido graso contienen.</p>
                    <div class="card-body">
        
                    </div>
                  </div>

                  <div class="card mt-3">
                    <h5 class="card-header"><i class="fas fa-angle-right"></i> Tipos de grasas</h5>
                   <p>Las grasas saturadas elevan el nivel de colesterol LDL ("malo"). Esto lo pone en riesgo de sufrir un ataque cardíaco, un accidente cerebrovascular u otros problemas de salud mayores. Usted debe evitar o limitar los alimentos ricos en grasas saturadas.</p>
                   <ul>
                       <li>Mantenga las grasas saturadas menos del 6% de sus calorías diarias totales.</li>
                       <li>Los alimentos con muchas grasas saturadas son productos animales, tales como la mantequilla, el queso, la leche entera, el helado, la crema y las carnes grasosas.</li>
                       <li>Algunos aceites vegetales, como el aceite de palma, el aceite de coco y el aceite de palmiche, también contienen grasas saturadas. Estas grasas son sólidas a temperatura ambiente.</li>
                       <li>Una dieta alta en grasa saturada incrementa la acumulación de colesterol en las arterias (vasos sanguíneos). El colesterol es una sustancia suave y cerosa que puede causar obstrucción o bloqueo de las arterias.</li>
                   </ul>
                    <p>Usted también necesita grasa para mantener la piel y el cabello saludables. La grasa también le ayuda a absorber las vitaminas A, D, E y K, llamadas vitaminas liposolubles. La grasa también llena los adipocitos y aísla su cuerpo para ayudar a mantenerlo caliente.</p>
                    <p>Las grasas que su cuerpo obtiene de los alimentos le brindan a éste ácidos grasos esenciales llamados ácido linoleico y ácido linolénico. Se denominan "esenciales" debido a que su cuerpo no los puede producir por sí solo o no trabaja sin ellos. El cuerpo los necesita para el desarrollo del cerebro, el control de la inflamación y la coagulación de la sangre.</p>
                    <p>La grasa tiene 9 calorías por gramo, más de 2 veces el número de calorías tanto en carbohidratos como en proteínas, que tienen 4 calorías por gramo. Por eso los alimentos ricos en grasa se denominan "engordantes".</p>
                    <p>Todas las grasas están compuestas de ácidos grasos saturados e insaturados. Se denominan saturadas o insaturadas dependiendo de cuánta cantidad de cada tipo de ácido graso contienen.</p>
                    <div class="card-body">
        
                    </div>
                  </div>
                </div>
           
        
       

        <div class="col-md-4 ">
          <div class="position-sticky" style="top: 2rem;">
            <div class="p-4 mb-3 bg-light rounded animate__animated animate__rubberBand">
              <h4 class="fst-italic "><i class="fas fa-book-open"></i> RECOMENDACION</h4>
              <p class="mb-0">Cuando tienes enfermedad renal, tú necesitas tener un plan de alimentación que incluye una dieta renal.  Tomar nota de lo que comes y bebes te ayudara a mantenerte saludable.  La información en esta sección es para personas que tienen enfermedad renal pero no reciben tratamiento de diálisis.</p>
            </div>
    
            <div class="p-4">
              <h4 class="fst-italic">DIETAS</h4>
              <ol class="list-unstyled mb-0">
                <li><a href="/dieta-hipercalorica"><i class="fas fa-arrow-right"></i> dieta hipercalorica</a></li>
                <li><a href="/dieta-hipocalorica"><i class="fas fa-arrow-right"></i> Dieta hipocalorica</a></li>
                <li><a href="/dieta-liquida"><i class="fas fa-arrow-right"></i> Dieta liquida</a></li>
                <li><a href="/dieta-blanda"><i class="fas fa-arrow-right"></i> Dieta blanda</a></li>
              </ol>
            </div>
    
            <div class="row mb-1 ml-1 ">
              <div class="col-md-12 ">
                <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                  <div class="col p-4 d-flex flex-column position-static">
                    <h3 class="mb-1">Enteral</h3>
                    <p class="card-text mb-auto">La nutrición enteral es una medida de soporte nutricional </p>
                    <a href="/dieta-enteral" class="stretched-link"><i class="fas fa-arrow-circle-right"></i> Seguir leyendo</a>
                  </div>
                   <img class="size" src="./img/DIETA ENTERAL.jpg" alt="">
                </div>
              </div>
          </div>
          <div class="row mb-1 ml-1 ">
            <div class="col-md-12 ">
              <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                <div class="col p-4 d-flex flex-column position-static">
                  <h3 class="mb-1">Hipocalorica</h3>
                  <p class="card-text mb-auto">se caracteriza por ser una dieta baja en calorías. </p>
                  <a href="/dieta-hipocalorica" class="stretched-link"><i class="fas fa-arrow-circle-right"></i> Seguir leyendo</a>
                </div>
                 <img class="size" src="./img/hipocalorica.jpg" alt="">
              </div>
            </div>
        </div>
        </div>
      </div>
    </main>
    
    
    


    <%- include('./partials/footer')%>
</body>
</html>