<footer class="text-center footer-style bg-dark mt-5">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4 footer-col text-white mt-3">
                <h3>TODO CON MEDIDA</h3>
                <p>La informacion proporcionada en esta guia es para todo publico con fin informativo</p>
            </div>
            <div class="col-md-4 footer-col text-white mt-3">
                <h3>LA SALUD NO ES UN JUEGO</h3>
                <p>Se recomienda antes de seguir cualquier dieta asistir con un profesional</p>
            </div>
            <div class="col-md-4 footer-col text-white mt-3">
                <h3>RESULTADOS</h3>
                <p>Los resultados o beneficios de las dietas se basan en un estilo de vida saludable en el que debe complementar con ejercicio</p>
            </div>
        </div>
    </div>
</footer>