<div class="slider m-auto">
    <ul>
        <li><img src="./img/doctor.jpg" alt=""></li>
        <li><img src="./img/cinta.jpg" alt=""></li>
        <li><img src="./img/pesadora.jpg" alt=""></li>
        <li><img src="./img/DIETA PARA HIPERTENSOS.JPG" alt=""></li>
    </ul>
</div>