body{
    font-family: 'Secular One', sans-serif;
    background: #FFEFBA;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #FFFFFF, #FFEFBA);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #FFFFFF, #FFEFBA); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
    

}


.size{
    width: 39%;
}


.image{
    filter: brightness(80%);
    object-fit: cover;
    height: 350px;
    background-image: url(/public/img/imagen.jpg);
}


img:hover{
    filter: brightness(100%);
    
    
}

.slider{
    width: 95%;
    margin: auto;
    overflow: hidden;
}

.slider ul{
    display: flex;
    padding: 0;
    width: 400%;


   animation: cambio 10s infinite alternate;
   
   

}

.slider li{
    width: 100%;
    list-style: none;
    text-align: center;
    
}

.slider img{
    width: 61%;
    height: 400px;
    
    
    
}

@keyframes cambio{
    0%{margin-left:0;}
    20% {margin-left:  0;}
   
    25% {margin-left:  -100%;}
    45% {margin-left:  -100%;}
   
    50% {margin-left:  -200%;}
    70% {margin-left:  -200%;}
   
    75% {margin-left:  -300%;}
    100% {margin-left:  -300%;}
} 